@import url('searchbar.css');
@import url('navbar.css');



body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: Arial, sans-serif;
  margin: 0;
}

.login-image,
.logout-image {
  width: 30px;
  height: 30px;
}


.login-list-item,
.logout-button,
.sidebar,
#item-profile {
  display: none;
}

.noticia-container {
/*  flex: 1;*/
  display: flex;
  justify-content: center;
 align-items: center;
  padding: 20px;
  background-color: #333333;
  flex-direction: column;
}

.edit-container {
  height: 50px;
  width: 200px;
  background-color: #555555;
  margin-bottom: 20px;
  border-radius: 10px;
  align-items: center;
  justify-content: center;
  display: none;
  
}

.share{
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  width: 90px;
  height: 30px;
  transition: filter 0.3s ease-in-out;
}

.share-text{
  font-size: 12px;
  color: #cccccc;
}

.share-container{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.img-share:hover{
  filter: brightness(0.8);
  cursor: pointer;
}

.img-container:hover::after {
  opacity: 1;
}

.img-container::after {
  content: attr(data-tooltip);
  position: absolute;
  /*top: 80px;*/
  padding: 5px;
  background-color: #333;
  color: #fff;
  border-radius: 5px;
  opacity: 0;
  transition: opacity 0.3s ease;
  pointer-events: none;
  white-space: nowrap;
  z-index: 1;
  border: 1px solid #999999;
}

.edit-image-container::after, .delete-image-container::after {
  content: attr(data-tooltip);
  position: absolute;
  /*top: 80px;*/
  margin-top: 90px;
  padding: 5px;
  background-color: #333;
  color: #fff;
  border-radius: 5px;
  opacity: 0;
  transition: opacity 0.3s ease;
  pointer-events: none;
  white-space: nowrap;
  z-index: 1;
  border: 1px solid #999999;
}

.edit-image-container:hover::after, .delete-image-container:hover::after {
  opacity: 1;
}

.delete-image-container, .edit-image-container{
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.edit-image, .delete-image{
  height:30px;
  width: 30px;
}

.edit-image-container:hover, .delete-image-container:hover{
  background-color: #333333;
  cursor: pointer;
}

.footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #333333;
  color: #fff;
  padding: 20px;
  box-sizing: border-box;
}

footer a {
  background-color: #333333;
  border: none;
  padding: 0;
}

footer a img {
  height: 30px;
  width: 39.59px;
}

.noticia {
  padding: 20px;
  background-color: #f2f2f2;
  color: #ececec;
  width: 60%;
  display: flex;
  align-items: center;
  flex-direction: column;
  height: auto;
  border-radius: 10px;
  box-shadow: -1px 2px 6px rgba(0,0,0,.25);
  background-color: #555555;
}

.noticia h1 {
  font-size: 24px;
  margin-bottom: 10px;
  color: #f2f2f2;
}

.noticia p {
  font-size: 16px;
 /* margin-bottom: 20px;*/
}

.noticia .carrossel {
  margin-bottom: 20px;
  /* Estilos adicionais do carrossel aqui... */
}

.profile{
  display: flex;
  justify-content: center;
  justify-items: center;
  flex-direction: column;
  text-align: center;
  /*max-width: 25%;*/
  /*background-color: #f2f2f2;*/
  padding: 20px;
  
  background: linear-gradient(45deg, #9a5916 10%, #e4b04d 18%, #fff1a3 22%, #e7b14f 30%, #ae6f27 38%, #f8c65d 50%);
  background: linear-gradient(45deg, #bfbfbf, #ffffff, #bfbfbf, #ffffff);
  border: 1px solid #999;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  border-radius: 100px;
  margin-top: 20px;
  width: 350px;
}


.profile-image {
  /* position: relative;*/
  /* display: inline-block;*/
   margin-left: 10px;
   /* display: inline-block; */
   align-items: center;
   display: flex;
 }


.gs-container{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.gamerscore{
  margin-left: 10px;
}

.autor{
  display: flex;
  flex-direction: row;
}

.circle {
  border: 2px solid black;
  color: black;
    text-shadow: 1px 1px rgba(0,0,0,0.8);

  width: 20px;
  height: 20px;
  background-color: transparent; /* Fundo transparente */
  border: 2px solid #888; /* Borda da circunferência */
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
 /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Sombra para a ilusão de profundidade */
 font-family: 'Nixie One', serif;
 font-size: 1.2em;
  text-align: center;
  text-shadow: 1px 1px rgba(255,255,255,0.8);
  color: #888;
}


.profile p{
  color: black;
    text-shadow: 1px 1px rgba(0,0,0,0.8);
  color: #888;
  font-size: 1.2em;
  text-align: center;
  text-shadow: 1px 1px rgba(255,255,255,0.8);
}

p.gamertag {
  display: flex;
}


.profile2 p{
 
  font-style: italic;
 
}


/* Animação para criar o efeito metálico */
/*@keyframes metallicEffect {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}*/

.hole-container {
  display: flex;
  align-items: center;
  justify-content: end;
 /* position: absolute;*/
}

.hole{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #555555;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5); /* Sombra interna */
  border: 1px solid #999;
}



.imagem{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  height: auto;
 
  max-width: 100%;
/*  margin-top: 20px;*/
}

.imagem img{
  border-radius: 50%;
}

.imagem-perfil {
  width: 96px;
  height: 96px;
  border-radius: 50%; /* Define um raio de 50% para criar um círculo */
  object-fit: cover; /* Mantém a proporção da imagem e preenche o círculo */
  overflow: hidden; /* Garante que a imagem não exceda os limites do círculo */
}



.profile-description, .profile-description2 {
  flex: 1;
  min-height: 120.75px;
}

.noticia-conteudo {
  width: 100%;
  min-height: 100vh;
}

.video-container {
  position: relative;
  width: 100%;
  padding-top: 56.25%;
}

.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

@media screen and (max-width: 768px) {

  .noticia {
    width: 100%;
  }
}