@import url('searchbar.css');
@import url('navbar.css');



body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: Arial, sans-serif;
  margin: 0;
}

.login-image,
.logout-image {
  width: 30px;
  height: 30px;
}


.login-list-item,
.logout-button,
.sidebar,
#item-profile {
  display: none;
}

.noticia-container {
/*  flex: 1;*/
  display: flex;
  justify-content: center;
/*  align-items: center;*/
  padding: 20px;
}

.footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #333333;
  color: #fff;
  padding: 20px;
  box-sizing: border-box;
}

footer a {
  background-color: #333333;
  border: none;
  padding: 0;
}

footer a img {
  height: 30px;
  width: 39.59px;
}

.noticia {
  padding: 20px;
  background-color: #f2f2f2;
  color: #333333;
  width: 60%;
  display: flex;
  align-items: center;
  flex-direction: column;
  height: auto;
  border-radius: 10px;
  box-shadow: -1px 2px 6px rgba(0,0,0,.25);
}

.noticia h1 {
  font-size: 24px;
  margin-bottom: 10px;
}

.noticia p {
  font-size: 16px;
 /* margin-bottom: 20px;*/
}

.noticia .carrossel {
  margin-bottom: 20px;
  /* Estilos adicionais do carrossel aqui... */
}

.profile {
  
  min-height: 170px;
 /* min-width: 250px;*/
/*  margin-top: 20px;*/
  display: flex;
  justify-content: center;
  justify-items: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
 /* max-width: 25%;*/
  background-color: #f2f2f2;
  padding: 20px;
  background: linear-gradient(45deg, #bfbfbf, #ffffff, #bfbfbf, #ffffff);
 /* background-size: 400% 400%;*/
 /* animation: metallicEffect 6s linear infinite;*/
  border: 1px solid #999;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  border-radius: 100px;

}

.profile-image{
  margin-left: 10px;
}

.gs-container{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.gamerscore{
  margin-left: 10px;
}

.autor{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.circle {
  width: 20px;
  height: 20px;
  background-color: transparent; /* Fundo transparente */
  border: 2px solid #888; /* Borda da circunferência */
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
 /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Sombra para a ilusão de profundidade */
 font-family: 'Nixie One', serif;
 font-size: 1.2em;
  text-align: center;
  text-shadow: 1px 1px rgba(255,255,255,0.8);
  color: #888;
}


.profile p {
 
  color: #888;
  font-size: 1.5em;
  text-align: center;
  text-shadow: 1px 1px rgba(255,255,255,0.8);
}



/* Animação para criar o efeito metálico */
/*@keyframes metallicEffect {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}*/

.hole-container {
  display: flex;
  align-items: center;
  justify-content: end;
 /* position: absolute;*/
}

.hole{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: transparent; 
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5); /* Sombra interna */
  border: 1px solid #999;
}




.imagem{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  height: auto;
 
  max-width: 100%;
/*  margin-top: 20px;*/
}

.imagem img{
  border-radius: 50%;
}

.imagem-perfil {
  width: 96px;
  height: 96px;
  border-radius: 50%; /* Define um raio de 50% para criar um círculo */
  object-fit: cover; /* Mantém a proporção da imagem e preenche o círculo */
  overflow: hidden; /* Garante que a imagem não exceda os limites do círculo */
}





.noticia-conteudo {
  width: 100%;
  min-height: 100vh;
}

.video-container {
  position: relative;
  width: 100%;
  padding-top: 56.25%;
}

.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 768px) {

  .noticia {
    width: 100%;
  }
}