* {
    margin: 0;
    padding: 0;
  }

  header.navbar {
    background-color: #333333;
    border-bottom: 1px solid #999999;
    margin: 0;
    overflow: auto;
  }

  header nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
  }

  header nav ul li {
    display: inline-block;
    margin: 0 10px;
  }

  header nav ul li a {
    display: block;
    padding: 10px;
    background-color: #333333;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
  }

  header nav ul li a:hover {
    background-color: #444444;
    color: #fff;
  }

  body {
    transition: all 0.3s ease-in-out;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: Arial, sans-serif;
  }

  main {
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    text-align: center;
    background-color: #333333;
    color: #f2f2f2;
  }


  .footer {
    background-color: #333333;
    color: #fff;
    padding: 20px;
    text-align: center;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    font-weight: bold;
  }

  footer a {
    background-color: #333333;
    border: none;
    padding: 0;
  }

  footer a img {
    height: 30px;
  }

  main p {
    max-width: 600px;
    margin: auto;
    font-size: 1.2rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.5em;
    font-weight: 300;
    margin-top: 20px;
  }

  .wb-embed{
    width: 60%;
  }
  #sidebar {
    display: none;
  }

  

  @media screen and (max-width: 768px) {
    .navbar {
      display: none;
    }

    #sidebar {
      position: fixed;
      display: block;
      top: 0;
      left: -200px;
      width: 200px;
      height: 100%;
      background-color: #333333;
      transition: left 0.4s;
      z-index: 9999;
    }

    #sidebar ul {
      list-style: none;
      padding: 0;
    }

    #sidebar ul li a {
      font-size: 20px;
      padding: 26px 24px;
      color: #fff;
      text-decoration: none;
    }

    .toggle-btn {
      position: fixed;
      top: 30px;
      left: 0;
      width: 40px;
      height: 40px;
      background: #333333;
      color: #fff;
      border-radius: 0;
      font-size: 0;
      text-align: center;
      line-height: 40px;
      cursor: pointer;
      z-index: 9999;
      transition: left 0.4s;
    }

    .toggle-btn span {
      width: 80%;
      height: 3px;
      margin: 4px auto;
      background: #fff;
      display: block;
      margin-top: 8px;
      transition: transform 0.4s;
    }

    #sidebar.active {
      left: 0;
    }

    #sidebar.active~.toggle-btn {
      left: 195px;
    }

     .footer {
      padding: 10px;
    }

    .footer a img {
      height: 20px;
    }

    .wb-embed {

      width: 90%;

    }

  }