.login-image,
.logout-image {
  width: 30px;
  height: 30px;
}

.login-list-item,
.logout-button , 
.sidebar,
 #item-profile{
  display: none;
}
.publish-button {
  cursor: pointer;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: Arial, sans-serif;
  margin: 0;
  background-color: #333333;
}

main {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  height: auto;
  text-align: center;
  color: #f2f2f2;
  flex-grow: 1;
}

.social-row{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  justify-content: center;
  align-items: center;
  background-color: #333333;
  font-weight: bold;
}


footer{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  flex-direction: column;
  color: #fff;
}



footer a {
  background-color: #333333;
  border: none;
}

footer img {
  height: 50px;
  width: 50px;
}

footer img:hover{
  filter: brightness(0.8);
}

main p {
  max-width: 600px;
  font-size: 1.2rem;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.5em;
  font-weight: 300;
  margin-top: 20px;
}

.wb-embed {
  width: 60%;
  margin-top: 20px;
  height: 500px;
}

.sidebar {
  display: none;
}

@media screen and (max-width: 768px) {
  .wb-embed {
    width: 90%;
  }
}