 body {
   font-family: Arial, sans-serif;
   background-color: #333333;
   color: #f2f2f2;
   margin: 0;
 }

 .container {
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
   height: 80vh;
   width: 100%;
   margin: 0 auto;
   /* Adicionando margens automáticas para centralizar o container */
 }

 #error-message{
  color: red;
 }

 h1 {
   text-align: center;
   margin-bottom: 20px;
 }

 form {
   display: flex;
   flex-direction: column;
 }

 label {
   margin-bottom: 10px;
   font-weight: bold;
 }

 .email,
 .password,.name,.confirmPassword {
   padding: 8px;
   margin-bottom: 20px;
   width: 266.8px;
   /* Definindo a largura dos inputs */
 }

 input[type="submit"] {
   padding: 10px 20px;
   background-color: #ffffff;
   color: #000000;
   /* Letra preta */
   border: none;
   cursor: pointer;
 }

 .google-login {
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: #ffffff;
   color: #000000;
   padding: 10px 20px;
   border: none;
   border-radius: 5px;
   margin-bottom: 10px;
   /* Adicionada a margem de 10 pixels */
   cursor: pointer;
 }

 .google-login img {
   width: 20px;
   height: 20px;
   margin-right: 10px;
 }

 .create-account {
   text-align: center;
 }

 .create-account a {
   color: #f2f2f2;
   text-decoration: none;
 }

 .create-account a:hover {
   text-decoration: underline;
 }

 .navbar {
  background-color: #333333;
  border-bottom: 1px solid #999999;
  overflow: auto;

}




header nav ul {
  list-style: none;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;

}

header nav ul li {
  display: inline-block;
  margin: 0 10px;
}

header nav ul li a {
  display: block;
  padding: 10px;
  background-color: #333333;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
}

header nav ul li a:hover {
  background-color: #444444;
  color: #fff;
}

 .footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #333333;
  color: #fff;
  padding: 20px;
  font-weight: bold;
 }

 footer a {
   background-color: #333333;
   border: none;
   padding: 0;
 }

 footer a img {
   height: 30px;
 }

 .sidebar {
   display: none;
 }

 .password-match-message {

   margin-top: 5px;
   margin-bottom: 5px;
 }

 .password-match-message.red {
   color: red;
 }

 .password-match-message.green {
   color: green;
 }

