  body {
    font-family: Arial, sans-serif;
    background-color: #333333;
    color: #f2f2f2;
    padding-bottom: 100px;
    overflow-y: scroll;
    margin: 0;
  
  }


  .login-list-item,
  .logout-button,.sidebar {
    display: none;
  }
  
  .container {
    display: flex;
   /* align-items: center;
    justify-content: center;*/
    flex-direction: row;
    min-height: calc(100vh - 180px);
 
  }

  .preview-container{
    display: flex;
    /*flex-wrap: wrap;*/
    justify-content: center;

    margin-top: 20px;
  }

  .noticia-preview {
  /*  flex-basis: calc(33.33% - 20px);*/
    margin: 10px;
    padding: 10px;
    background-color: #f2f2f2;
    box-sizing: border-box;
    text-align: center;
    width: 279.97px;
    height: 302.08px;
    border-radius: 10px;
  }

  .noticia-preview img{
    border-radius:10px;
  }
  
  .form-editor{
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 20px;
  }

  .noticia-preview h1 {
    color: black;
    font-size: 24px;
    margin-bottom: 10px;

  }

  .noticia-preview p {
    color: black;
    font-size: 16px;
    margin-bottom: 20px;

  }

  .inserir {
    margin-top: 20px;
    display: flex;
    justify-content: center;
  }

  .footer {
    background-color: #333333;
    color: #fff;
    padding: 20px;
    box-sizing: border-box;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
  }

  footer button {
    background-color: #333333;
    border: none;
    padding: 0;
  }

  footer button img {
    height: 30px;
  }

  label {
    font-weight: bold;
  }

  
  .file-input-container {
    display: flex;
    align-items: center;
    margin: 10px 0;
  }

  
  .remove-btn {
    margin-left: 10px;  
  }

  .textbox,
  textarea {
    margin: 10px 0;
    /*width: 100%;*/
    padding: 8px;
    border-radius: 15px;
  }

  input[type="submit"] {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
  }

  /* Estilo da prévia */
  #preview {
    padding: 20px;
    background-color: #f2f2f2;
    color: #333333;
    width: 50%;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 20px;
    border-radius: 10px;
    
  }

  /* Estilo do video-container */
  .video-container {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%;
    /* Proporção 16:9 (Divide a altura pela largura e multiplica por 100 para obter a porcentagem) */
  }

  .video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }


  @media screen and (max-width: 1199px) {
    .container {
        flex-direction: column; 
        align-items: center;
    }
    .form-editor{
      width: 70%;
    }
}


