@font-face {
  font-family: 'TT Octosquares';
  src: url('/TTOctosquares-Black.woff2') format('woff2');
  font-display: swap;
}

body {
  font-family: 'Sugoi UI', sans-serif;
  display: flex;
  flex-direction: column;
  margin: 0;
  color: #f2f2f2;
  min-height: 100dvh;
}

.sidebar {
  display: none;
}

.navbar-index {
  background-color: #333333;
  border-bottom: 1px solid #999999;
  display: flex;
  flex-direction: row;
}

footer img {
  height: 50px;
  width: 50px;
}

footer img:hover {
  filter: brightness(0.8);
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #333333;
  font-size: clamp(12px, 1.5vw, 14px);
  padding: 20px;
  font-weight: bold;
  text-align: center;

}

.info {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: 'TT Octosquares', sans-serif;
  max-width: 60%;
  height: auto;
}

.cor-xbox {
  color: #C1FF72;
}

h1 {
  font-size: clamp(32px, 4vw + 1rem, 64px);
  font-display: optional
}

.info p {
  font-size: clamp(14px, 2.5vw, 21px);
  line-height: 1.8em;
  text-align: justify;
  font-weight: bold;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.9);

}

.overlay {
  background: url(/haloinfinite.webp) no-repeat center center / cover;
  box-shadow: inset 0 0 0 100vw hsl(0deg 0% 0% / 20%);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-grow: 1;
}

.social-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.discord-button {
  background-color: #3f51b5;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: clamp(12px, 2vw, 18px);
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.9);
}

.discord-button:hover {
  background-color: #677bc4;
}

/* Para telas menores ou iguais a 480px */
@media screen and (max-width: 360px) {
  .info {
    padding: 0;
  }

  footer img {
    width: 30px;
    height: 30px;
  }

  .overlay {
    justify-content: center;
  }

  .info {
    max-width: 80%;
    height: auto;
  }

}

@media screen and (min-width: 361px) and (max-width: 480px) {
  footer img {
    width: 30px;
    height: 30px;
  }


  .overlay {
    justify-content: center;
  }

  .info {
    max-width: 80%;
    height: auto;
    padding: 0;
  }

}

@media screen and (min-width: 481px) and (max-width: 768px) {
  .info {
    padding: 0;
  }

  footer img {
    width: 40px;
    height: 40px;
  }

  .overlay {
    justify-content: center;
  }

  .info {
    max-width: 80%;
    height: auto;
  }
}