@font-face {
  font-family: 'TT Octosquares';
  src: url(/TTOctosquares-Black.woff2) format('woff2');
  font-display: swap;
}

:root {
  --primary-color: #333;
  --secondary-color: #f2f2f2;
  --accent-color: #c1ff72;
  --btn-primary-bg: #3f51b5;
  --btn-primary-bg-hover: #677bc4;
  --font-family-primary: 'Sugoi UI', sans-serif;
  --font-family-secondary: 'TT Octosquares', sans-serif;
  --btn-font-color: #fff;
  --header-border-bottom-color: #999;
}

.sidebar {
  display: none;
}

body {
  display: flex;
  font-family: var(--font-family-primary);
  margin: 0;
  color: var(--secondary-color);
  min-height: 100vh;
  flex-direction: column;
}

.navbar {
  display: flex;
  flex-direction: row;
  background-color: var(--primary-color);
  border-bottom: 1px solid var(--header-border-bottom-color);
}

.info,
footer,
main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

footer {
  display: flex;
  gap: 10px;
  background-color: var(--primary-color);
  font-size: clamp(12px, 1.5vw, 14px);
  padding: 20px;
  font-weight: 700;
  text-align: center;
}

footer img:hover {
  filter: brightness(0.8);
}

.info {
  font-family: var(--font-family-secondary);
  max-width: 60%;
  height: auto;
}

.cor-xbox {
  color: var(--accent-color);
}

h1 {
  font-size: clamp(32px, 4vw + 1rem, 64px);
}

.info p {
  font-size: clamp(14px, 2.5vw, 21px);
  line-height: 1.8em;
  text-align: justify;
  font-weight: 700;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.9);
}

main {
  background: url(/haloinfinite.webp) no-repeat center center/cover;
  box-shadow: inset 0 0 0 100vw hsl(0deg 0% 0% / 20%);
  flex-grow: 1;
}

.discord-button {
  background-color: var(--btn-primary-bg);
  color: var(--btn-font-color);
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: clamp(12px, 2vw, 18px);
  font-weight: 700;
  text-decoration: none;
  cursor: pointer;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.9);
}

.discord-button:hover {
  background-color: var(--btn-primary-bg-hover);
}

@media screen and (max-width: 1200px) {
  .info {
    max-width: 80%;
  }
}