
  body {
    font-family: Arial, sans-serif;
    background-color: #333333;
    color: #f2f2f2;
    margin: 0;
  }

  .container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
  }

  h1 {
    text-align: center;
    margin-bottom: 20px;
  }

  form {
    display: flex;
    flex-direction: column;
  }

  label {
    margin-bottom: 10px;
    font-weight: bold;
  }

  input[type="text"],
  input[type="password"] {
    padding: 8px;
    margin-bottom: 20px;
  }

  input[type="submit"] {
    padding: 10px 20px;
    background-color: #ffffff;
    color: #000000; /* Letra preta */
    border: none;
    cursor: pointer;
  }

  .google-login {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #dd4b39;
    color: #f2f2f2;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    margin-bottom: 10px; /* Adicionada a margem de 10 pixels */
    cursor: pointer;
  }

  .google-login img {
    width: 20px;
    height: 20px;
    margin-right: 10px;
  }

  .create-account {
    text-align: center;
  }

  .create-account a {
    color: #f2f2f2;
    text-decoration: none;
  }

  .create-account a:hover {
    text-decoration: underline;
  }

  header.navbar {
    background-color: #333333;
    border-bottom: 1px solid #999999;
    margin: 0;
  }

  header nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
  }

  header nav ul li {
    display: inline-block;
    margin: 0 10px;
  }

  header nav ul li a {
    display: block;
    padding: 10px;
    background-color: #333333;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
  }

  header nav ul li a:hover {
    background-color: #444444;
    color: #fff;
  }

  .footer {
    background-color: #333333;
    color: #fff;
    padding: 20px;
    text-align: center;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    font-weight: bold;
    box-sizing: border-box;
  }

  .publish-button {
    cursor: pointer;
  }

  #error-message{
     color: red;
  }

  footer a {
    background-color: #333333;
    border: none;
    padding: 0;
  }

  footer a img {
    height: 30px;
  }

  .sidebar {
    display: none;
  }
