.navbar {
  display: block;
  background-color: #333333;
  border-bottom: 1px solid #999999;
}

.profile-image {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  object-fit: cover;
}

header nav ul {
  list-style: none;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

header nav ul li {
  display: inline-block;
  margin: 0 10px;
}

.nav-link {
  display: block;
  width: 100%;
  text-align: left;
  padding: 10px;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  cursor: pointer;
}

.menu-item {
  transition: filter 0.3s ease-in-out;
  display: block;
  padding: 10px;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  cursor: pointer;
}

.menu-item:hover {
  filter: brightness(0.8);
}

.submenu:hover .submenu-list {
  display: flex;
}

.submenu-list {
  padding: 0;
  list-style-type: none;
  /* display: flex; */
  display: none;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  background-color: #555555;
  border-radius: 10px;
  z-index: 1;
}

ul .item:first-child,
ul .suggestion-item:first-child {
  margin-top: 10px;
  /* Adiciona uma margem superior ao primeiro filho */
}

ul .item:last-child,
ul .suggestion-item:last-child {
  /* Adiciona uma margem inferior ao último filho */
  margin-bottom: 10px;
}

.item:hover {
  background-color: #666666;
}

.item {
  margin: 0;
  width: 120px;
  display: flex;
  align-items: flex-start;
  background-color: #555555;
}

.banner {
  width: 15%;
  display: flex;
  align-items: center;
  justify-content: center;

}

.image-container {
  width: 50px;
  height: 50px;
  background-image: url('/xfbr-logo.webp');
  background-size: cover;
  transition: background-image 0.3s ease;
  /* Adiciona transição suave para a troca de imagem */
}

.image-container:hover {
  background-image: url('/xfbr.gif');
  cursor: pointer;
}

.image-container::after {
  content: attr(data-tooltip);
  position: absolute;
  /*top: calc(100% + 5px);
  left: 50%;
  transform: translateX(-50%);*/
  top: 80px;
  padding: 5px;
  background-color: #333;
  color: #fff;
  border-radius: 5px;
  opacity: 0;
  transition: opacity 0.3s ease;
  /* Adiciona uma transição de opacidade */
  pointer-events: none;
  /* Evita que o tooltip bloqueie o evento de passar o mouse */
  white-space: nowrap;
  z-index: 1;
  /* Garante que o tooltip apareça acima do conteúdo */
  border: 1px solid #999999;

}

.image-container:hover::after {
  opacity: 1;
}

.middle {
  justify-content: center;
  width: 70%;
  align-items: center;
  display: flex;
}