.navbar {
    background-color: #333333;
    border-bottom: 1px solid #999999;
    
}

header nav ul {
  
    list-style: none;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

header nav ul li {
    display: inline-block;
    margin: 0 10px;
}

header nav ul li a {
    display: block;
    padding: 10px;
    /*background-color: #333333;*/
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    cursor: pointer;
}

.menu-item{
  transition: filter 0.3s ease-in-out;
}

.menu-item:hover {
  /* Seus estilos aqui */
  filter: brightness(0.8);
}

.submenu-noticias:hover .noticias-container,
.submenu-profile:hover .profile-container,
.submenu:hover .comunidade-container {
  display: block;
  
}

.comunidade-container,
.profile-container,
.noticias-container {
  width: 120px;
  max-height: 30vh;
  position: absolute;
  z-index: 1;
  margin-top: 0px;
  border-radius: 10px;
  background-color: #555555;
  display: none;
  box-shadow: 0 5px 10px rgba(0,0,0,0.9);
}

.profile-list,
.comunidade-list,
.noticias-list {

  padding: 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

.item:hover, 
.item-login:hover,
 .item-sair:hover, 
 .publish-button:hover, 
 .login-list-item:hover,
 .logout-button:hover{
  background-color: #666666;

}

.item, 
.publish-button, 
.login-list-item,
.logout-button{
  margin: 0;
 /* color: #fff;*/
  width: 120px;
  display: flex;
  align-items: flex-start;
  background-color: #555555;

}

.banner{
  width: 15%;
  display: flex;
  align-items: center;
  justify-content: center;
  
}

.image-container {
  width: 50px;
  height: 50px;
  background-image: url('/xfbr-logo.webp');
  background-size: cover;
  transition: background-image 0.3s ease; /* Adiciona transição suave para a troca de imagem */
}

.image-container:hover {
  background-image: url('/xfbr.gif');
  cursor: pointer;
}

.image-container::after {
  content: attr(data-tooltip);
  position: absolute;
  /*top: calc(100% + 5px);
  left: 50%;
  transform: translateX(-50%);*/
  top: 80px;
  padding: 5px;
  background-color: #333;
  color: #fff;
  border-radius: 5px;
  opacity: 0;
  transition: opacity 0.3s ease; /* Adiciona uma transição de opacidade */
  pointer-events: none; /* Evita que o tooltip bloqueie o evento de passar o mouse */
  white-space: nowrap;
  z-index: 1; /* Garante que o tooltip apareça acima do conteúdo */
  border: 1px solid #999999;

}

.image-container:hover::after {
  opacity: 1;
}

.middle{
  justify-content: center;
   width: 70%; 
  align-items: center;
  display: flex;
}








