@import url('searchbar.css');
@import url('navbar.css');
 
 .login-image,
 .logout-image {
   width: 30px;
   height: 30px;
 }

 .login-list-item,
 .logout-button , 
 .sidebar,
  #item-profile{
   display: none;
 }
 body {
   display: flex;
   flex-direction: column;
   min-height: 100vh;
   font-family: Arial, sans-serif;
   margin: 0;
 }

 .botao-menu, .sidebar{
   display: none;
 }

 .article {
  flex-basis: calc(33.33% - 20px);
  margin: 10px;
  padding: 10px;
  background-color: #f2f2f2;
  box-sizing: border-box;
  text-align: center;
  border-radius: 10px;
  background-color: #555555;
}
/* Adicione outros estilos conforme necessário */

.container {
  min-height: 100vh;
  box-shadow: -1px 2px 6px rgba(0,0,0,.25);
  background-color: #333333;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.article img {
  width: 860px;
  height: 483px;
  cursor: pointer;
  border-radius: 10px;
}

 .footer {
   width: 100%;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   background-color: #333333;
   color: #fff;
   padding: 20px;
   box-sizing: border-box;
   font-weight: bold;
 }

 footer a {
   background-color: #333333;
   border: none;
   padding: 0;
 }

 footer a img {
   height: 30px;
   width: 39.59px;
 }

 .navbar {
   display: block;
 }

 .start,
 .end {
   width: 15%;
 }

 .publish-button {
   cursor: pointer;
 }

 .article h1 {
  font-size: 24px;
  margin-bottom: 10px;
  cursor: pointer;
  color: #f2f2f2;
  text-decoration: underline;
}

.article h1:hover {
  filter: brightness(0.8);
}

p2 {
  color: #cccccc;
  font-style: italic;
  font-size: smaller;
}

.article p {
  font-size: 16px;
  margin-bottom: 20px;
  color: #ececec;
}

 

 .pagination {
   display: flex;
   justify-content: center;
   align-items: center;
 }

 .pagination a {
   padding: 5px 10px;
   margin: 0 5px;
   border-radius: 5px;
   background-color: #f2f2f2;
   color: #333333;
   text-decoration: none;
 }

 .pagination a.active {
   background-color: #333333;
   color: #fff;
 }

 .pagination a:hover {
   background-color: #ccc;
 }

 @media screen and (max-width: 1199px) {

  .pagination-container {
   
    width: 100%;
    background-color: #f2f2f2;
    padding: 10px 0;
    display: flex;
    justify-content: center;
    z-index: 1;
  }
   .container{
    background-color: #555555;
   }

   .article-container {
     flex-direction: column;
     align-items: center;
     justify-content: center;
     background-color: #555555;
   }
   .article img {
     max-width: 100%;
     height: auto;
   }
 }




 /* Estilos para desktops (de 1200 a 1919 pixels) */
@media screen and (min-width: 1200px) and (max-width: 1919px) {
  .article:first-child img {
    width: 860px;
    height: 483px;
   }

   
   .article img {
    width: 256px;
    height: 144px;
    cursor: pointer;
    border-radius: 10px;
  }

  .article-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 900px;
    margin: 0 auto;
   /* margin-bottom: 20px;*/
    background-color: #555555;
    /*margin-top: 20px;*/
    
  }

  .pagination-container {
    
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    width: 900px;
    background-color: #f2f2f2;
    padding: 10px 0;
    display: flex;
    justify-content: center;
    z-index: 1;
  }

  /* Adicione outros estilos conforme necessário */
}

/* Estilos para telas muito grandes (1920 pixels ou mais) */
@media screen and (min-width: 1920px) {

  .article:first-child img {
    width: 860px;
    height: 483px;
   }

   .article img {
    width: 256px;
    height: 144px;
    cursor: pointer;
    border-radius: 10px;
  }

  .article-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 900px;
    margin: 0 auto;
    background-color: #555555;
  }

  .pagination-container {  
    width: 900px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    background-color: #f2f2f2;
    padding: 10px 0;
    display: flex;
    justify-content: center;
    z-index: 1;
  }
 
}