.status-news {
  width: 100%;
  align-items: center;
  justify-content: flex-start;
  color: #f2f2f2;
  background-color: #555555;
}

html {
  width: 100vw;
}

body {
  display: flex;
  flex-direction: column;
  height: auto;
  width: auto;
  font-family: 'Sugoi UI', sans-serif;
  background-color: #333333;
  overflow-x: hidden;
  margin: 0;
}

.up {
  position: fixed;
  width: 50px;
  height: 50px;
  background-color: transparent;
  border: none;
  right: 10px;
  bottom: 10px;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s ease, visibility 0.5s ease;
  cursor: pointer;
  display: flex;
  justify-content: center; 
  align-items: center; 
}

.up.show {
  opacity: 1;
  visibility: visible; /* Torna visível */
}

.lblStatus {
  margin-left: 20px;
}

.sidebar {
  display: none;
}

.article {
  flex-basis: calc(33.33% - 20px);
  margin: 10px;
  padding: 10px;
  box-sizing: border-box;
  text-align: center;
  border-radius: 10px;
}

.status-trapezoid-container {
  width: 100%;
  align-items: center;
  display: flex;
  justify-content: center;
  background-color: #555555;
}

.status {
  background-color: #333;
  height: 50px;
  width: 100%;
  align-items: center;
  display: flex;
  justify-content: center;
  transform: rotate(-180deg);
}

.status-item-container p {
  padding: 10px;
  color: #f2f2f2;
}

.status-item {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
  align-items: center;
  display: flex;
  justify-content: center;
  background-color: black;
}

.red {
  color: red;
}

.yellow {
  color: yellow;
}

.green {
  color: green;
}

.status-item:hover {
  transform: scale(1.2);
}

.trapezoid {
  width: 700px;
  height: 100px;
  background-color: #333333;
  clip-path: polygon(15% 0, 85% 0, 100% 100%, 0 100%);
  transform: rotate(-180deg);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -1px;
}

.article img {
  width: 860px;
  height: 483px;
  cursor: pointer;
  border-radius: 10px;
  transition: transform 0.3s ease;
  transition: box-shadow 0.3s ease-in-out;

}

.article:hover img {
  transform: translateY(-2px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.9);
}

.container {
  min-height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: auto;
  /*width: 900px;*/
  /* background-color: #555555;*/
}

.container-row {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
}

footer {
  width: 100%;
  display: flex;
  gap: 10px;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  color: #fff;
  font-size: 14px;
  padding: 20px;
  box-sizing: border-box;
  font-weight: bold;
  text-align: center;
}

footer a {
  border: none;
}

footer img {
  height: 50px;
  width: 50px;
}

footer img:hover {
  filter: brightness(0.8);
}

.start {
  order: 1;
}

.container {
  order: 2;
}

.end {
  order: 3;
}

.start,
.end {
  display: flex;
  flex-grow: 1;

}

.publish-button {
  cursor: pointer;
}

.article h1 {
  font-size: clamp(12px, 4vw, 24px);
  margin-bottom: 10px;
  cursor: pointer;
  color: #f2f2f2;
  transition: transform 0.3s ease;
}

.article h1:hover {
  filter: brightness(0.8);
}

p2 {
  color: #cccccc;
  font-style: italic;
  font-size: smaller;
}

.article p {
  font-size: clamp(12px, 3vw, 16px);
  margin-bottom: 20px;
  color: #ececec;
}

.pagination {
  display: flex;
  align-items: center;
}

.pagination a {
  padding: 5px 10px;
  margin: 0 5px;
  border-radius: 5px;
  background-color: #f2f2f2;
  color: #333333;
  text-decoration: none;
}

.pagination a.active {
  background-color: #333333;
  color: #fff;
}

.pagination a:hover {
  background-color: #ccc;
}

.social-row,
.status-item-container {
  flex-direction: row;
}

.status-item-container,
.social-row,
.article-container.no-articles {
  display: flex;
  align-items: center;
  justify-content: center;
}

.article-container.no-articles {
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  height: 100vh;
  font-style: italic;
  color: #ececec;
}

/* Para telas menores ou iguais a 480px */
@media screen and (max-width: 480px) {
  .status-trapezoid-container {
    display: none;
  }

  footer {
    font-size: 12px;
  }

  .pagination a {
    padding: 2px 7px;
    font-size: 12px;
  }

}

/* Para telas maiores que 480px e menores ou iguais a 768px */
@media screen and (min-width: 481px) and (max-width: 768px) {
  .status-trapezoid-container {
    display: none;
  }

  footer {
    font-size: 14px;
  }
}

@media screen and (max-width: 1199px) {
  .pagination-container {
    width: 100%;
    background-color: #f2f2f2;
    padding: 10px 0;
    display: flex;
    justify-content: center;
    z-index: 1;
    display: none;
  }

  .status-news {
    padding-top: 20px;
    padding-bottom: 10px;
    justify-content: center;
  }

  .container-row {
    flex-direction: column;
    align-items: center;
  }

  .container {
    background-color: #555555;
    /* width: 100%;*/
    order: 1;
  }

  .end {
    width: 100%;
    order: 3;
    height: 100px;
  }

  .start {
    width: 100%;
    order: 2;
    height: 100px;
  }

  .article-container {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    display: flex;
  }

  .article img {
    max-width: 100%;
    height: auto;
  }
}

/* Estilos para desktops (de 1200 a 1919 pixels) */
@media screen and (min-width: 1200px) and (max-width: 1919px) {
  .article:first-child img {
    width: 860px;
    height: 483px;
  }

  .article img {
    width: 256px;
    height: 144px;
    cursor: pointer;
    border-radius: 10px;
  }

  .article-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 900px;
    margin: 0 auto;
    background-color: #555555;
  }

  .pagination-container {
    display: none;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    width: 900px;
    background-color: #555555;
    padding: 10px 0;
    justify-content: center;
    z-index: 1;
  }
}

@media screen and (min-width: 1920px) {

  .article:first-child img {
    width: 860px;
    height: 483px;
  }

  .article img {
    width: 256px;
    height: 144px;
    cursor: pointer;
    border-radius: 10px;
  }

  .article-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 900px;
    margin: 0 auto;
    background-color: #555555;
  }

  .pagination-container {
    width: 900px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    background-color: #f2f2f2;
    padding: 10px 0;
    display: none;
    justify-content: center;
    z-index: 1;
  }
}