@import url('searchbar.css');
@import url('navbar.css');
 
 .login-image,
 .logout-image {
   width: 30px;
   height: 30px;
 }

 .login-list-item,
 .logout-button , 
 .sidebar,
  #item-profile{
   display: none;
 }
 body {
   display: flex;
   flex-direction: column;
   min-height: 100vh;
   font-family: Arial, sans-serif;
   margin: 0;
 }

 .botao-menu, .sidebar{
   display: none;
 }

 .container {
   min-height: 100vh;
   /*width: 70%;*/
   box-shadow: -1px 2px 6px rgba(0,0,0,.25);
 }

 .article img {
   width: 256px;
   height: 144px;
   cursor: pointer;
   border-radius: 10px;
 }
 
 .article:first-child {
  flex-basis: calc(100% - 20px);
  /*flex-grow: 2;*/
}

 .footer {
   width: 100%;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   background-color: #333333;
   color: #fff;
   padding: 20px;
   box-sizing: border-box;
   font-weight: bold;
 }

 footer a {
   background-color: #333333;
   border: none;
   padding: 0;
 }

 footer a img {
   height: 30px;
   width: 39.59px;
 }

 .navbar {
   display: block;
 }

 .article-container-wrapper {
   margin-bottom: 100px;
 }

 .article-container {
   display: flex;
   flex-wrap: wrap;
   justify-content: flex-start;
   width: 900px;
   margin: 0 auto;
   margin-bottom: 20px;
   margin-top: 20px;

   
 }

 .perfil-posts {
   display: flex;
   flex-direction: row;
   justify-content: center;
 }

 .start,
 .end {
  /* width: 15%;*/
  flex-grow: 1;
 }

 .middle {
 /* width: 70%;
  box-shadow: -1px 2px 6px rgba(0,0,0,.25);*/
}

 .article {
   flex-basis: calc(33.33% - 20px);
   /* Largura de 33.33% - 20px de margem */
   margin: 10px;
   padding: 10px;
   background-color: #f2f2f2;
   box-sizing: border-box;
   text-align: center;
   border-radius: 10px;
 }

 .publish-button {
   cursor: pointer;
 }

 .article h1 {
   font-size: 24px;
   margin-bottom: 10px;
   cursor: pointer;
   text-decoration: underline;
 }

 .article h1:hover {
   color: darkblue;
 }

 .article p {
   font-size: 16px;
   margin-bottom: 20px;
 }

 .pagination-container {
   bottom: 0;
   left: 0;
   width: 100%;
   background-color: #f2f2f2;
   padding: 10px 0;
   display: flex;
   justify-content: center;
   z-index: 1;
 }

 .pagination {
   display: flex;
   justify-content: center;
   align-items: center;
 }

 .pagination a {
   padding: 5px 10px;
   margin: 0 5px;
   border-radius: 5px;
   background-color: #f2f2f2;
   color: #333333;
   text-decoration: none;
 }

 .pagination a.active {
   background-color: #333333;
   color: #fff;
 }

 .pagination a:hover {
   background-color: #ccc;
 }





























.imagem-perfil {
  width: 96px;
  height: 96px;
  border-radius: 50%; /* Define um raio de 50% para criar um círculo */
  object-fit: cover; /* Mantém a proporção da imagem e preenche o círculo */
  overflow: hidden; /* Garante que a imagem não exceda os limites do círculo */
}

.links {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 10px;
}

.profile-image {
  /* position: relative;*/
  /* display: inline-block;*/
   margin-left: 10px;
   /* display: inline-block; */
   align-items: center;
   display: flex;
 }

.image-edit-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  border-radius: 50%;
  padding: 5px;
  cursor: pointer;
  font-size: 16px; /* Ajuste o tamanho do ícone aqui */
  display: none;
}

.profile-image:hover .image-edit-icon {
  display: block;
}


.perfil-container{
  display: flex;
 /* justify-content: center;*/
  flex-direction: column;
  align-items: center;
 /* height: 90vh;*/
 
}

.perfil-posts{
  /* height: 90vh;*/
}

.profile{
  display: flex;
  justify-content: center;
  justify-items: center;
  flex-direction: column;
  text-align: center;
  max-width: 25%;
  background-color: #f2f2f2;
  padding: 20px;
  background: linear-gradient(45deg, #bfbfbf, #ffffff, #bfbfbf, #ffffff);
 /* background-size: 400% 400%;*/
 /* animation: metallicEffect 6s linear infinite;*/
  border: 1px solid #999;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  border-radius: 100px;
}

.gs-container{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.gamerscore{
  margin-left: 10px;
}

.autor{
  display: flex;
  flex-direction: row;
}

.circle {
  width: 20px;
  height: 20px;
  background-color: transparent; /* Fundo transparente */
  border: 2px solid #888; /* Borda da circunferência */
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
 /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Sombra para a ilusão de profundidade */
 font-family: 'Nixie One', serif;
 font-size: 1.2em;
  text-align: center;
  text-shadow: 1px 1px rgba(255,255,255,0.8);
  color: #888;
}


.profile p {
 
  color: #888;
  font-size: 1.5em;
  text-align: center;
  text-shadow: 1px 1px rgba(255,255,255,0.8);
}



/* Animação para criar o efeito metálico */
/*@keyframes metallicEffect {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}*/

.hole-container {
  display: flex;
  align-items: center;
  justify-content: end;
 /* position: absolute;*/
}

.hole{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: transparent; 
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5); /* Sombra interna */
  border: 1px solid #999;
}


.profile-header {
  text-align: center;
  margin-bottom: 20px;
}

.profile-content {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-items: center;
}

.upload-button {
  background-color: #007bff;
  color: white;
  padding: 5px 10px;
  cursor: pointer;
}

.profile-description {
  flex: 1;
}

.profile-description h2 {
  margin-bottom: 10px;
}

.profile-description textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
}

.profile-description button {
  background-color: #007bff;
  color: white;
  padding: 5px 10px;
  cursor: pointer;
}











/* Estilos para dispositivos móveis (até 480 pixels) */
@media screen and (max-width: 480px) {
 
  .end,
  .start {
    display: none;
  }

  .middle {
    width: 100%;
  }

  .pagination-container {
    padding: 20px 0;
  }

  .pagination {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .pagination a {
    padding: 5px 10px;
    margin: 5px;
  }

  .article-container {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90%;
  }

  .article {
    flex-basis: 100%;
    width: 100%;
  }
  .article img {
    width: 100%;
    height: 100%;
  }

  /* Adicione outros estilos conforme necessário */
}

/* Estilos para dispositivos pequenos (de 481 a 767 pixels) */
@media screen and (min-width: 481px) and (max-width: 767px) {
 
  .end,
  .start {
    display: none;
  }

  .middle {
    width: 100%;
  }

  .pagination-container {
    padding: 20px 0;
  }

  .pagination {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .pagination a {
    padding: 5px 10px;
    margin: 5px;
  }

  .article-container {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90%;
  }

  .article {
    flex-basis: 100%;
    width: 100%;
  }
  .article img {
    width: 100%;
    height: 100%;
  }

  /* Adicione outros estilos conforme necessário */
}

/* Estilos para tablets pequenos (de 768 a 991 pixels) */
@media screen and (min-width: 768px) and (max-width: 991px) {

  .end,
  .start {
    display: none;
  }

  .middle {
    width: 100%;
  }

  .pagination-container {
    padding: 20px 0;
  }

  .pagination {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .pagination a {
    padding: 5px 10px;
    margin: 5px;
  }

  .article-container {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90%;
  }

  .article {
    flex-basis: 100%;
    width: 100%;
  }
  .article img {
    width: 100%;
    height: 100%;
  }

  /* Adicione outros estilos conforme necessário */
}

/* Estilos para tablets maiores e laptops (de 992 a 1199 pixels) */
@media screen and (min-width: 992px) and (max-width: 1199px) {

  .end,
  .start {
    display: none;
  }

  .middle {
    width: 100%;
  }

  .pagination-container {
    padding: 20px 0;
  }

  .pagination {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .pagination a {
    padding: 5px 10px;
    margin: 5px;
  }

  .article-container {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90%;
  }

  .article {
    flex-basis: 100%;
    width: 100%;
  }
  .article img {
    width: 100%;
    height: 100%;
  }

  /* Adicione outros estilos conforme necessário */
}

/* Estilos para desktops (de 1200 a 1919 pixels) */
@media screen and (min-width: 1200px) and (max-width: 1919px) {
 
  
  /* Adicione outros estilos conforme necessário */
}

/* Estilos para telas muito grandes (1920 pixels ou mais) */
@media screen and (min-width: 1920px) {
 

  /* Adicione outros estilos conforme necessário */
}