.login-image,
.logout-image {
  width: 30px;
  height: 30px;
  /* adicione outros estilos aqui, se necessário */
}


.login-list-item,
.logout-button , 
.sidebar,
 #item-profile{
  display: none;
}

.publish-button {
  cursor: pointer;
}

.imagem-perfil {
  width: 96px;
  height: 96px;
  border-radius: 50%; /* Define um raio de 50% para criar um círculo */
  object-fit: cover; /* Mantém a proporção da imagem e preenche o círculo */
  overflow: hidden; /* Garante que a imagem não exceda os limites do círculo */
}



.profile-image {
  position: relative;
  display: inline-block;

}

.image-edit-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  border-radius: 50%;
  padding: 5px;
  cursor: pointer;
  font-size: 16px; /* Ajuste o tamanho do ícone aqui */
  display: none;
}

.profile-image:hover .image-edit-icon {
  display: block;
}








body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: Arial, sans-serif;
  margin: 0;
}


.perfil-container{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 90vh;
 
}

.profile{
  display: flex;
  justify-content: center;
  justify-items: center;
  flex-direction: column;
  text-align: center;
  width: 60%;
  background-color: #f2f2f2;
  padding: 20px;
}

.profile-header {
  text-align: center;
  margin-bottom: 20px;
}

.profile-content {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-items: center;
}



.upload-button {
  background-color: #007bff;
  color: white;
  padding: 5px 10px;
  cursor: pointer;
}



.profile-description {
  flex: 1;
}

.profile-description h2 {
  margin-bottom: 10px;
}

.profile-description textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
}

.profile-description button {
  background-color: #007bff;
  color: white;
  padding: 5px 10px;
  cursor: pointer;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #333333;
  color: #fff;
  padding: 20px;
  font-weight: bold;
}

footer a {
  background-color: #333333;
  border: none;
  padding: 0;
}

footer a img {
  height: 30px;
}



.sidebar {
  display: none;
}





@media screen and (max-width: 768px) {
  
  
}