:root {
  --suggestion-primary-color: #555555;
  --suggestion-secondary-color: #666666;
  --suggestion-font-color: #f2f2f2;
  --search-box-color: #444;
  --search-box-hover: #555;
}


.suggestion-list {
  padding: 0;
  list-style-type: none;
  margin-top: 10px;
  border-radius: 10px;
  background-color: var(--suggestion-primary-color);
  z-index: 1;
}

.suggestion-item.active,
.suggestion-item:hover {
  background-color: var(--suggestion-secondary-color);
}

.suggestion-item {
  margin: 0;
  padding: 10px;
  width: 250px;
  display: flex;
  align-items: flex-start;
  font-weight: bold;
  text-align: left;
}

.search-box,
.suggestion-item {
  color: var(--suggestion-font-color);
}

.clear-button,
.suggestion-item {
  cursor: pointer;
}

.clear-button,
.suggestion-list {
  position: absolute;
}

.search-box {
  width: 250px;
  border: none;
  padding: 5px 10px;
  border-radius: 15px;
  background-color: var(--search-box-color);
  transition: background-color 0.3s;
}

.search-box:hover {
  background-color: var(--search-box-hover);
}

.search-container {
  position: relative;
  display: inline-block;
}

.clear-button {
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  font-size: small;
  display: none;
}

.clear-button:hover {
  filter: brightness(0.8);
}