.login-image,
.logout-image {
  width: 30px;
  height: 30px;
}

.login-list-item,
.logout-button , 
.sidebar,
 #item-profile{
  display: none;
}
.publish-button {
  cursor: pointer;
}




body {
  transition: all 0.3s ease-in-out;
  display: flex;
  flex-direction: column;
  height: auto;
  font-family: Arial, sans-serif;
  margin: 0;
  background-color: #333333;
}

main {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  height: auto;
  text-align: center;
  color: #f2f2f2;
}

footer{
  position: fixed;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #333333;
  color: #fff;
  padding: 20px;
  font-weight: bold;
}

footer a {
  background-color: #333333;
  border: none;
  padding: 0;
}

footer a img {
  height: 30px;
}

main p {
  max-width: 600px;
  font-size: 1.2rem;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.5em;
  font-weight: 300;
  margin-top: 20px;
}

.wb-embed {
  width: 60%;
  margin-top: 20px;
  height: 500px;
}

.sidebar {
  display: none;
}

@media screen and (max-width: 768px) {
  .wb-embed {
    width: 90%;
  }
}