<footer>
    <div>
        <a href="https://discord.gg/RZF7K5BX"><img id="discord-img" width="50" height="50" src="/dc.webp" alt="Botão do Discord"></a>
        <a href="https://twitter.com/hu3bruzan"><img id="twitter-img" width="50" height="50" src="/tt.webp" alt="Botão do X"></a>
    </div>
    <span>© 2024 Xbox Family BR</span>
    <span>Termos de Uso</span>
    <span>Políticas de privacidade</span>
    <span>Desenvolvido por Lucas Uzan da Cunha</span>
</footer>
