<footer>
    <div>
        <a href="https://discord.gg/RZF7K5BX"><img src="/dc.webp" alt="Botão do Discord"></a>
        <a href="https://twitter.com/hu3bruzan"><img src="/tt.webp" alt="Botão do Discord"></a>
    </div>
    <span>© 2024 Xbox Family BR</span>
    <a>Termos de Uso</a>
    <a>Políticas de privacidade</a>
    <span>Desenvolvido por Lucas Uzan da Cunha</span>
</footer>
