/node_modules/sharp/build/Release/libglib-2.0-0.dll
/node_modules/sharp/build/Release/libgobject-2.0-0.dll
/node_modules/sharp/build/Release/libvips-42.dll
/node_modules/sharp/build/Release/libvips-cpp.dll
/node_modules/sharp/build/Release/sharp-win32-x64.node
/.tokens.json
/config/xbApiConfig.js
/config/dbConfig.js
/config/
/node_modules/