<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8">
  <title>Minha Página</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/artigo.css">
</head>

<body>
  <header class="navbar">
    <nav>
      <ul>
        <li><a href="index.html">Informações</a></li>
        <li><a href="notícias.html">Notícias</a></li>
        <li><a href="bate-papo.html">Bate-papo</a></li>
        <li><a href="video-clipes.html">Vídeo-clipes</a></li>
        <li class="publish-button"><a>Publicar</a></li>
      </ul>
    </nav>
  </header>

  <div id="sidebar">
    <!-- Conteúdo do menu lateral -->
    <ul>
      <li><a href="index.html">Informações</a></li>
      <li><a href="notícias.html">Notícias</a></li>
      <li><a href="bate-papo.html">Bate-papo</a></li>
      <li><a href="video-clipes.html">Vídeo-clipes</a></li>
      <li class="publish-button"><a>Publicar</a></li>
    </ul>
  </div>

  <div class="toggle-btn" onclick="toggleSidebar()">
    <span></span>
    <span></span>
    <span></span>
  </div>

  <div class="noticia-container">
    <div class="noticia">
      <h2 id="noticia-titulo">Título do Artigo</h2>
      <p id="noticia-conteudo">Conteúdo do Artigo...</p>
      <div class="video-container">
        <iframe src="https://www.youtube.com/embed/prS6VlJSITE" frameborder="0" allowfullscreen></iframe>
      </div>
      <div class="carrossel">
        <!-- Carrossel de imagens -->
        <!-- Utilize a biblioteca de sua preferência ou implemente seu próprio código aqui -->
      </div>
      <div class="autor">
        <img src="rsc/uzan.jpg" alt="Imagem do Autor">
        <p>Nascido em 2000 Lucas Uzan da Cunha "Uzann" sempre foi fã de videogame. Mas as coisas mudaram quando ele conheceu o xbox em meados de 2010. Apartir daí ele nunca mais trocou de plataforma. </p>
      </div>
    </div>
  </div>

  <footer>
    <div class="footer">
      <a href="https://discord.gg/RZF7K5BX"><img src="/discord.png" alt="Botão do Discord"></a>
      <p>© 2023 Xbox Family Br, Inc.</p>
    </div>
  </footer>
  <script src="/script/artigo.js"></script>
  <script  src="/script/utils.js"></script>
</body>

</html>
