<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8">
  <title>Minha Página</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/artigo.css">
  <link rel="stylesheet" href="/css/mobile-sidebar.css" media="(max-width: 768px)">
  <link rel="stylesheet" href="/css/searchbar.css">
  <link rel="modulepreload" href="/script/auth.js">
  <link rel="modulepreload" href="/script/articleRedirect.js">


</head>

<body>
  <header class="navbar">
    <nav>
      <ul>
        <li>
          <input type="text" class="search-box" placeholder="Pesquisar">
          <div class="suggestion-container">
          <ul class="suggestion-list">

          </ul>
          </div>
        </li>
        <li><a href="index.html">Informações</a></li>
        <li><a href="notícias.html">Notícias</a></li>
        <li><a href="bate-papo.html">Bate-papo</a></li>
        <li><a href="video-clipes.html">Vídeo-clipes</a></li>
        <li class="publish-button"><a>Publicar</a></li>
        <li class="login-list-item">
          <a href="login.html">
            <img src="/login.png" alt="Login" class="login-image">
          </a>
        </li>
        <li class="logout-button">
          <a href="#">
            <img src="/logout.png" alt="Logout" class="logout-image">
          </a>
        </li>
      </ul>
    </nav>
  </header>

  <div class="sidebar">
    <!-- Conteúdo do menu lateral -->
    <ul>
      <li><a href="index.html">Informações</a></li>
      <li><a href="notícias.html">Notícias</a></li>
      <li><a href="bate-papo.html">Bate-papo</a></li>
      <li><a href="video-clipes.html">Vídeo-clipes</a></li>
      <li class="publish-button"><a>Publicar</a></li>
    </ul>
  </div>

  <div class="toggle-btn" onclick="toggleSidebar()">
    <span></span>
    <span></span>
    <span></span>
  </div>

  <div class="noticia-container">
    <div class="noticia">
      <h1 class="noticia-titulo">Título do Artigo</h1>
      <p class="noticia-conteudo">Conteúdo do Artigo...</p>
    
     
      <div class="autor">
        <img src="/uzan.jpg" alt="Imagem do Autor">
        <p>Nascido em 2000 Lucas Uzan da Cunha "Uzann" sempre foi fã de videogame. Mas as coisas mudaram quando ele conheceu o xbox em meados de 2010. A partir daí ele nunca mais trocou de plataforma. </p>
      </div>
    </div>
  </div>

  <footer>
    <div class="footer">
      <a href="https://discord.gg/RZF7K5BX"><img src="/discord.png" alt="Botão do Discord"></a>
      <p>© 2023 Xbox Family Br, Inc.</p>
    </div>
  </footer>
  <script type="module" src="/script/artigo.js"></script>

  <script  src="/script/utils.js" defer></script>

</body>

</html>
