<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <title>Artigo</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Leia o artigo mais recente e relevante no Xbox Family Br. Mantenha-se atualizado com as últimas notícias, informações da comunidade e muito mais.">
  <link rel="preload" href="/css/artigo.css" as="style">
  <link rel="stylesheet" href="/css/artigo.css">
  <link rel="stylesheet" href="/css/mobile-sidebar.css" media="(max-width: 768px)">
  <link rel="modulepreload" href="/script/artigo.js">
  <script type="module" src="/script/auth.js" defer></script>
  <script src="/script/artigo.js" defer></script>
  <script src="/script/utils.js" defer></script>
  <script type="module" src="/script/articleRedirect.js" defer></script>
</head>
<body>
  <header class="navbar">
    <nav>
      <ul>
        <li>
          <div class="search-container">
            <input type="text" class="search-box" placeholder="Pesquisar" name="search-box">
            <div class="clear-button" onclick="clearSearch()">X</div>
          </div>
          <div class="suggestion-container">
            <ul class="suggestion-list">
            </ul>
          </div>
        </li>
        <li class="submenu-noticias">
          <a href="#" class="menu-item">Artigos</a>
          <div class="noticias-container">
            <ul class="noticias-list">
              <li class="item"><a href="notícias.html">Notícias</a></li>
              <li class="publish-button"><a id="publish-link">Publicar</a></li>
            </ul>
          </div>
        </li>
        <li class="submenu">
          <a href="#" class="menu-item">Comunidade</a>
          <div class="comunidade-container">
            <ul class="comunidade-list">
              <li class="item"><a href="index.html">Informações</a></li>
              <li class="item"><a href="bate-papo.html">Bate-papo</a></li>
              <li class="item"><a href="video-clipes.html">Vídeo-clipes</a></li>
            </ul>
          </div>
        </li>
        <li class="submenu-profile">
          <a href="#" class="menu-item">
            <img src="/profile.png" alt="Logout" class="logout-image">
          </a>
          <div class="profile-container">
            <ul class="profile-list">
              <li class="login-list-item"><a href="login.html">Login</a></li>
              <li class="logout-button"><a href="#">Sair</a></li>
              <li class="item" id="item-profile"><a href="perfil.html">Perfil</a></li>
            </ul>
          </div>
        </li>
      </ul>
    </nav>
  </header>
  <div class="sidebar">
    <ul>
      <li><a href="index.html">Informações</a></li>
      <li><a href="notícias.html">Notícias</a></li>
      <li><a href="bate-papo.html">Bate-papo</a></li>
      <li><a href="video-clipes.html">Vídeo-clipes</a></li>
      <li><a href="#">Publicar</a></li>
    </ul>
  </div>
  <div class="toggle-btn" onclick="toggleSidebar()">
    <span></span>
    <span></span>
    <span></span>
  </div>
  <div class="noticia-container">
    
  
    <div class="noticia">


      <div class="edit-container">
        <div class="edit-image-container" data-tooltip="Editar">
          <img class="edit-image" loading="lazy" src="/editar.webp" alt="Botão de edição" width="50" height="50">
        </div>
    
        <div class="delete-image-container" data-tooltip="Excluir">
          <img class="delete-image" loading="lazy" src="/excluir.webp" alt="Botão de excluir" width="50" height="50">
         
        </div>
    
        <div class="approve-image-container" data-tooltip="Aprovar">
          <img class="approve-image" loading="lazy" src="/aprovar.webp" alt="Botão de excluir" width="50" height="50">
         
        </div>
    
        <div class="decline-image-container" data-tooltip="Reprovar">
          <img class="decline-image" loading="lazy" src="/reprovar.webp" alt="Botão de excluir" width="50" height="50">
         
        </div>
    
      </div>

      <div class="share-container">
        <h3 class="share-text">Compartilhe:</h3>
        <div class="share">
          <div class="img-container" data-tooltip="X">
            <img class="img-share"  loading="lazy" src="/twitter.webp" alt="Imagem do Perfil" width="30" height="30">
          </div>

          <div class="img-container" data-tooltip="WhatsApp">
            <img class="img-share"  loading="lazy" src="/wpp30.webp" alt="Imagem do Perfil" width="30" height="30">
          </div>
        
         <div class="img-container" data-tooltip="Copiar">
          <img class="img-share" loading="lazy" src="/copy.webp" alt="Imagem do Perfil" width="30" height="30">
         </div>
          
        </div>
      </div>
      
      <h1 class="noticia-titulo"></h1>
      <p class="noticia-conteudo"></p>           
      <div class="profile">
        <div class="autor">        
          <div class="hole-container">
            <div class="hole"> 
            </div>
          </div>
          <div class="profile-image">
            <img class="imagem-perfil" loading="lazy" src="/profile-st.webp" alt="Imagem do Perfil" width="96" height="96">
           
          </div>
         <div class="profile-description">
            <p class="gamertag"></p>
            <div class="gs-container">
              <div class="circle">
                <div class="letter">G</div>
            </div>
              <p class="gamerscore"> <span class="gamerscore-value"></span>
              </p>
            </div>
          
          </div>                
        </div>
      </div> 
    </div>
  </div>
  <footer>
    <div class="footer">
      <a href="https://discord.gg/RZF7K5BX"><img src="/discord.webp" alt="Botão do Discord"></a>
      <p>© 2023 Xbox Family Br, Inc.</p>
    </div>
  </footer>
</body>
</html>