<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8">
  <title>Criar Conta</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/criarconta.css">
  <link rel="stylesheet" href="/css/navbar.css">
  <link rel="stylesheet" href="/css/mobile-sidebar.css" media="(max-width: 768px)">
  <link rel="stylesheet" href="/css/searchbar.css">
</head>

<body>
  
  <header class="navbar">
    <nav>
      <ul>
        <li>
          <input type="text" class="search-box" placeholder="Pesquisar">
          <div class="suggestion-container">
          <ul class="suggestion-list">
          </ul>
          </div>
        </li>
       
        <li class="submenu-noticias">
          <a>Artigos</a>
          <div class="noticias-container">
           <ul class="noticias-list">
             <li class="item"><a class="item" href="notícias.html">Notícias</a></li>
             <li class="publish-button"><a class="item" id="publish-link">Publicar</a></li>
           </ul>
           </div>
       </li>
        <li class="submenu">
           <a>Comunidade</a>
           <div class="comunidade-container">
            <ul class="comunidade-list">
              <li class="item"><a class="item" href="index.html">Informações</a></li>
              <li class="item"><a class="item" href="bate-papo.html">Bate-papo</a></li>
              <li class="item" ><a class="item" href="video-clipes.html">Vídeo-clipes</a></li>
            </ul>
            </div>
        </li>
     
        <li class="submenu-profile">
          <a>
            <img src="/profile.png" alt="Logout" class="logout-image">
          </a>
          <div class="profile-container">
           <ul class="profile-list">

            <li class="login-list-item">
              <a class="item-login" href="login.html">Login</a>
            </li>

            <li class="logout-button">
              <a class="item-sair" href="#">Sair</a>
            </li>
            <li class="item"><a class="item"  href="perfil.html">Perfil</a></li>
           </ul>
           </div>
       </li>
      </ul>    
    </nav>
  </header>

  <div class="sidebar">
    <!-- Conteúdo do menu lateral -->
    <ul>
      <li><a href="index.html">Informações</a></li>
      <li><a href="notícias.html">Notícias</a></li>
      <li><a href="bate-papo.html">Bate-papo</a></li>
      <li><a href="video-clipes.html">Vídeo-clipes</a></li>
    </ul>
  </div>

  <div class="toggle-btn" onclick="toggleSidebar()">
    <span></span>
    <span></span>
    <span></span>
  </div>

  <div class="container">
    <h1>Criar Conta</h1>
    <form id="signup-form">
      <label for="name">Nome:</label>
      <input class="name" type="text" id="name" name="name">

      <label for="email">Email:</label>
      <input class="email" type="text" id="email" name="email">

      <label for="password">Senha:</label>
      <input class="password" type="password" id="password" name="password">

       <!-- Novo campo de confirmação de senha -->
       <label for="confirmPassword">Confirmar Senha:</label>
       <input class="confirmPassword" type="password" id="confirmPassword" name="confirmPassword">
 
       <!-- Exibição da força da senha -->
       <div id="passwordStrength"></div>

         <!-- Exibição da validação de senha e confirmação de senha -->
      <div class="password-match-message" id="passwordMatchMessage"></div>

      <input type="submit"  value="Criar Conta">

      <!-- Adicionei uma div para criar um espaço vertical entre os botões -->
      <div style="height: 10px;"></div>

      <button class="google-login" type="button">
        <img src="/google-icon.png" alt="Google Icon">
        Criar conta com o Google
      </button>

      <div class="create-account">
        Já tem uma conta? <a href="login.html">Logar</a>
      </div>
    </form>
    <div id="error-message"></div>
  </div>



  <footer>
    <div class="footer">
      <a href="https://discord.gg/RZF7K5BX"><img src="/discord.webp" alt="Botão do Discord"></a>
      <p>© 2023 Xbox Family Br, Inc.</p>
    </div>
  </footer>
  <script type = "module"src="/script/criarconta.js"></script>
  <script  src="/script/utils.js" defer></script>

</body>

</html>