<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Editor de Notícias</title>
  <script src="https://cdn.tiny.cloud/1/bjfo8zrpuri2l033ekmkidpsvm7qba94fcvobj9bzweizm4c/tinymce/5/tinymce.min.js"
  referrerpolicy="origin"></script>
  <link rel="stylesheet" href="/css/editor.css">
  <link rel="stylesheet" href="/css/navbar.css">
  <link rel="stylesheet" href="/css/mobile-sidebar.css" media="(max-width: 768px)">
  <link rel="stylesheet" href="/css/searchbar.css">
  <link rel="modulepreload" href="/script/auth.js">
  <script src="/script/editor.js" defer></script>
  <script type="module" src="/script/auth.js" defer></script>
  <script src="/script/utils.js" defer></script>

</head>
<body>
  <header class="navbar">
    <nav>
      <ul>
        <li>
          <div class="search-container">
            <input type="text" class="search-box" placeholder="Pesquisar" name="search-box">
            <div class="clear-button" onclick="clearSearch()">X</div>
          </div>
          <div class="suggestion-container">
          <ul class="suggestion-list">
          </ul>
          </div>
        </li>     
        <li class="submenu-noticias">
          <a href="#" class="menu-item">Artigos</a>
          <div class="noticias-container">
           <ul class="noticias-list">
             <li class="item"><a class="item" href="notícias.html">Notícias</a></li>
             <li class="publish-button"><a class="item" id="publish-link">Publicar</a></li>
           </ul>
           </div>
       </li>
        <li class="submenu">
           <a href="#" class="menu-item">Comunidade</a>
           <div class="comunidade-container">
            <ul class="comunidade-list">
              <li class="item"><a class="item" href="index.html">Informações</a></li>
              <li class="item"><a class="item" href="bate-papo.html">Bate-papo</a></li>
              <li class="item" ><a class="item" href="video-clipes.html">Vídeo-clipes</a></li>
            </ul>
            </div>
        </li>
        <li class="submenu-profile">
          <a href="#" class="menu-item">
            <img src="/profile.png" alt="Logout" class="logout-image">
          </a>
          <div class="profile-container">
           <ul class="profile-list">
            <li class="login-list-item">
              <a class="item-login" href="login.html">Login</a>
            </li>
            <li class="logout-button">
              <a class="item-sair" href="#">Sair</a>
            </li>
            <li class="item" id="item-profile"><a class="item"  href="perfil.html">Perfil</a></li>
           </ul>
           </div>
       </li>
      </ul>    
    </nav>
  </header>
  <div class="sidebar">
    <ul>
      <li><a href="index.html">Informações</a></li>
      <li><a href="notícias.html">Notícias</a></li>
      <li><a href="bate-papo.html">Bate-papo</a></li>
      <li><a href="video-clipes.html">Vídeo-clipes</a></li>
    </ul>
  </div>
  <div class="toggle-btn" onclick="toggleSidebar()">
    <span></span>
    <span></span>
    <span></span>
  </div>
  <div class="container">
    <form class="form-editor" enctype="multipart/form-data">
      <h1>Editor de Notícias</h1>
      <label for="title">Título:</label>
      <input type="text" class="textbox" id="title" name="title">
      <label for="image">Imagem (16:9, PNG ou JPG):</label>
      <div class="file-input-container">
        <input type="file" id="image" name="image" accept=".png, .jpg, .jpeg" />
        <button type="button" id="removeImageBtn" class="remove-btn">X</button>
      </div>
      <label for="content">Conteúdo Prévia:</label>
      <input type="text" class="textbox" id="content-preview" name="contentpreview">
      <label for="content">Conteúdo:</label>
      <textarea id="editor" class="textbox" name="content"></textarea>
      <div class="inserir">
        <input type="submit" value="Publicar">
      </div>

      <div class="preview-container">
        <div class="noticia-preview">
          <div class="image-preview">
          </div>
          <div class="title-preview">
            <h1></h1>
            <p></p>
          </div>
        </div>
    </form>
    <div id="error-message" style="color: red;"></div>
 
   </div>
    <div id="preview"></div>
  </div>
  <footer>
    <div class="footer">
      <button><a href="https://discord.gg/RZF7K5BX"><img src="/discord.webp" alt="Botão do Discord"></a></button>
      <p>© 2023 Xbox Family Br, Inc.</p>
    </div>
  </footer>
</body>
</html>