<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8">
  <title>Informações</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description"
    content="Xbox Family BR - Clube fundado em 2016 por PaulistinhaSccp e Uzann, com mais de 97 mil membros apaixonados pelo console da Microsoft. Entre no Discord e participe da comunidade.">
  <link rel="preload" href="/TTOctosquares-Black.woff2" as="font" crossorigin="anonymous">
  <link rel="preload" href="/css/navbar.css" as="style">
  <link rel="preload" href="/css/searchbar.css" as="style">
  <link rel="preload" href="/css/index.css" as="style">
  <link rel="preload" href="/css/mobile-sidebar.css" as="style">
  <link rel="stylesheet" href="/css/index.css">
  <link rel="stylesheet" href="/css/searchbar.css">
  <link rel="stylesheet" href="/css/navbar.css">
  <link rel="stylesheet" href="/css/mobile-sidebar.css" media="(max-width: 768px)">
  <link fetchpriority="high" rel="preload" href="/haloinfinite.webp" as="image">
  <link rel="preload" href="/script/utils.js" type="text/javascript" as="script">
  <script src="/script/utils.js" defer></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" defer>

</head>

<body>
  <header class="navbar">
    <nav class="banner" role="navigation" aria-label="Banner Navigation">
      <div class="image-container" data-tooltip="Xbox Family BR" role="img" aria-label="Xbox Family BR Logo"></div>
    </nav>
    <nav class="middle" role="navigation" aria-label="Main Navigation">
      <ul>
        <li class="search-container">
          <input type="text" class="search-box" placeholder="Pesquisar" name="search-box" autocomplete="off"
            aria-label="Barra de pesquisa">
          <div class="clear-button">X</div>
          <ul class="suggestion-list"></ul>
        </li>
        <li class="submenu">
          <span class="menu-item">Artigos
            <svg class="arrow-icon" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
              viewBox="0 0 16 16">
              <path fill-rule="evenodd"
                d="M1.293 4.293a1 1 0 011.414 0L8 9.586l5.293-5.293a1 1 0 111.414 1.414l-6 6a1 1 0 01-1.414 0l-6-6a1 1 0 010-1.414z" />
            </svg>
          </span>

          <ul class="submenu-list">
            <li class="item"><a class="nav-link" href="/noticias">Notícias</a></li>
            <% if (userLoggedIn) { %>
              <li class="item"><a href="/editor" class="nav-link">Publicar</a></li>
              <% } else { %>
                <li class="item"><a href="/login" class="nav-link">Publicar</a></li>
                <% } %>
          </ul>
        </li>
        <li class="submenu">
          <span class="menu-item">Comunidade

            <svg class="arrow-icon" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
              viewBox="0 0 16 16">
              <path fill-rule="evenodd"
                d="M1.293 4.293a1 1 0 011.414 0L8 9.586l5.293-5.293a1 1 0 111.414 1.414l-6 6a1 1 0 01-1.414 0l-6-6a1 1 0 010-1.414z" />
            </svg>
          </span>
          <ul class="submenu-list">
            <li class="item"><a class="nav-link" href="/info">Informações</a></li>
            <li class="item"><a class="nav-link" href="/bate-papo">Bate-papo</a></li>

          </ul>
        </li>
        <li class="submenu">
          <span class="menu-item">
            <img src="<%= userLoggedIn ? imgpath : '/profile.png' %>" alt="Perfil" class="profile-image">
            <svg class="arrow-icon" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16">
              <path fill-rule="evenodd" d="M1.293 4.293a1 1 0 011.414 0L8 9.586l5.293-5.293a1 1 0 111.414 1.414l-6 6a1 1 0 01-1.414 0l-6-6a1 1 0 010-1.414z" />
          </svg>
          </span>
          <ul class="submenu-list">
            <% if (userLoggedIn) { %>
              <li class="item"><span class="nav-link" id="btnLogout">Sair</span></li>
              <li class="item"><a class="nav-link" href="<%= perfilLink %>">Perfil</a></li>
              <% } else { %>
                <li class="item"><a class="nav-link" href="/login">Login</a></li>
                <% } %>
          </ul>
        </li>
      </ul>
    </nav>
  </header>
  <%- include('partials/sidebar') %>
    <main>
      <div class="info">
        <h1>Quem <span class="cor-xbox">Somos?</span></h1>
        <p>O Xbox Family BR é um clube fundado em 2016 por PaulistinhaSCCP e seu amigo Uzann, que atualmente conta com
          uma
          comunidade de mais de 97 mil membros apaixonados pelo console da Microsoft.</p>
        <a href="https://discord.gg/RZF7K5BX">
          <button class="discord-button" type="button">Entrar no Discord</button>
        </a>
      </div>
    </main>
    <%- include('partials/footer') %>
</body>

</html>