<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8">
  <title>Login</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/css/login.css">
  <link rel="stylesheet" href="/css/navbar.css">
  <link rel="stylesheet" href="/css/mobile-sidebar.css" media="(max-width: 768px)">
  <link rel="stylesheet" href="/css/searchbar.css">
  <link rel="modulepreload" href="/script/auth.js">
  
</head>

<body>
  <header class="navbar">
    <nav>
      <ul>
        <li>
          <input type="text" class="search-box" placeholder="Pesquisar">
          <div class="suggestion-container">
          <ul class="suggestion-list">
          </ul>
          </div>
        </li>
        
        <li class="submenu-noticias">
          <a>Artigos</a>
          <div class="noticias-container">
           <ul class="noticias-list">
             <li class="item"><a class="item" href="notícias.html">Notícias</a></li>
             <li class="publish-button"><a class="item" id="publish-link">Publicar</a></li>
           </ul>
           </div>
       </li>
        <li class="submenu">
           <a>Comunidade</a>
           <div class="comunidade-container">
            <ul class="comunidade-list">
              <li class="item"><a class="item" href="index.html">Informações</a></li>
              <li class="item"><a class="item" href="bate-papo.html">Bate-papo</a></li>
              <li class="item" ><a class="item" href="video-clipes.html">Vídeo-clipes</a></li>
            </ul>
            </div>
        </li>
      </ul>    
    </nav>
  </header>

  
  <div class="sidebar">
    <!-- Conteúdo do menu lateral -->
    <ul>
      <li><a href="index.html">Informações</a></li>
      <li><a href="notícias.html">Notícias</a></li>
      <li><a href="bate-papo.html">Bate-papo</a></li>
      <li><a href="video-clipes.html">Vídeo-clipes</a></li>
      <li class="publish-button"><a>Publicar</a></li>
    </ul>
  </div>

  <div class="toggle-btn" onclick="toggleSidebar()">
    <span></span>
    <span></span>
    <span></span>
  </div>

  <div class="container">
    <h1>Login</h1>
    <form id="login-form">
      <label for="email">Email:</label>
      <input class="email" type="text" id="email" name="email">

      <label for="password">Senha:</label>
      <input class="password" type="password" id="password" name="password">

      <input type="submit" value="Entrar" >

      <!-- Adicionei uma div para criar um espaço vertical entre os botões -->
      <div style="height: 10px;"></div>

      <button class="google-login" type="button">
        <img src="/google-icon.png" alt="Google Icon">
        Logar com o Google
      </button>

      <div class="create-account">
        Não tem uma conta? <a href="criarconta.html">Criar uma conta</a>
      </div>
    </form>
    <div id="error-message"></div>
  </div>
  <footer>
    <div class="footer">
      <a href="https://discord.gg/RZF7K5BX"><img src="/discord.webp" alt="Botão do Discord"></a>
      <p>© 2023 Xbox Family Br, Inc.</p>
    </div>
  </footer>
  <script type="module" src="/script/login.js"></script>
  <script  src="/script/utils.js" defer></script>

</body>

</html>
