<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8">
  <title>Login</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/css/login.css">
 
</head>

<body>
  <header class="navbar">
    <nav>
      <ul>
        <li><a href="index.html">Informações</a></li>
        <li><a href="notícias.html">Notícias</a></li>
        <li><a href="bate-papo.html">Bate-papo</a></li>
        <li><a href="video-clipes.html">Vídeo-clipes</a></li>
        <li class="publish-button"><a>Publicar</a></li>
      </ul>
    </nav>
  </header>

  
  <div id="sidebar">
    <!-- Conteúdo do menu lateral -->
    <ul>
      <li><a href="index.html">Informações</a></li>
      <li><a href="notícias.html">Notícias</a></li>
      <li><a href="bate-papo.html">Bate-papo</a></li>
      <li><a href="video-clipes.html">Vídeo-clipes</a></li>
      <li class="publish-button"><a>Publicar</a></li>
    </ul>
  </div>

  <div class="toggle-btn" onclick="toggleSidebar()">
    <span></span>
    <span></span>
    <span></span>
  </div>

  <div class="container">
    <h1>Login</h1>
    <form method="post" action="http://localhost:3000/login">
      <label for="email">Email:</label>
      <input type="text" id="email" name="email">

      <label for="password">Senha:</label>
      <input type="password" id="password" name="password">

      <input type="submit" value="Entrar" >

      <!-- Adicionei uma div para criar um espaço vertical entre os botões -->
      <div style="height: 10px;"></div>

      <button class="google-login" type="button">
        <img src="/rsc/google-icon.png" alt="Google Icon">
        Logar com o Google
      </button>

      <div class="create-account">
        Não tem uma conta? <a href="criarconta.html">Criar uma conta</a>
      </div>
    </form>
  </div>
  <footer>
    <div class="footer">
      <a href="https://discord.gg/RZF7K5BX"><img src="/discord.png" alt="Botão do Discord"></a>
      <p>© 2023 Xbox Family Br, Inc.</p>
    </div>
  </footer>
  <script src="/script/login.js"></script>
</body>

</html>
