<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8">
  <title>Login</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description"
    content="Faça o login na plataforma Xbox Family Br e tenha acesso a todas as novidades, notícias, artigos e interações da comunidade. Entre com seu email e senha ou faça login com sua conta do Google. Não tem uma conta? Crie uma agora mesmo!">
  <link rel="preload" href="/css/login.css" as="style">
  <link rel="stylesheet" href="/css/login.css">
  <link rel="stylesheet" href="/css/mobile-sidebar.css" media="(max-width: 768px)">
  <script src="/script/login.js" defer></script>
  <script src="/script/utils.js" defer></script>
</head>

<body>
  <header class="navbar">
    <nav>
      <ul>
        <li>
          <div class="search-container">
            <input type="text" class="search-box" placeholder="Pesquisar" name="search-box" autocomplete="off">
            <button class="clear-button">X</button>
          </div>
          <ul class="suggestion-list"></ul>
        </li>
        <li class="submenu">
          <span class="menu-item">Artigos</span>
          <ul class="submenu-list">
            <li class="item"><a class="nav-link" href="/noticias">Notícias</a></li>
            <% if (userLoggedIn) { %>
              <li class="item"><a href="/editor.html" class="nav-link">Publicar</a></li>
              <% } else { %>
                <li class="item"><a href="/login" class="nav-link">Publicar</a></li>
                <% } %>
          </ul>
        </li>
        <li class="submenu">
          <span class="menu-item">Comunidade</span>
          <ul class="submenu-list">
            <li class="item"><a class="nav-link" href="/info">Informações</a></li>
            <li class="item"><a class="nav-link" href="/bate-papo">Bate-papo</a></li>
            <li class="item"><a class="nav-link" href="/video-clipes">Vídeo-clipes</a></li>
          </ul>
        </li>
      </ul>
    </nav>
  </header>
  <aside class="sidebar">
    <ul>
      <li><a href="/info">Info</a></li>
      <li><a href="/noticias">Notícias</a></li>
      <li><a href="/bate-papo">Chat</a></li>
      <li><a href="/video-clipes">Vídeos</a></li>
      <% if (userLoggedIn) { %>
        <li><a href="/editor.html">Publicar</a></li>
        <% } else { %>
          <li><a href="/login">Publicar</a></li>
          <% } %>
    </ul>
  </aside>
  <div class="toggle-btn">
    <span></span>
    <span></span>
    <span></span>
  </div>
  <main>
    <button class="xbox-login" type="button">
      <img src="/xboxlogo.webp" alt="Xbox Icon">
      Login with Xbox Account
    </button>
  </main>
  <footer>
    <div class="social-row">
      <a href="https://discord.gg/RZF7K5BX"><img src="/dc.webp" alt="Discord"></a>
      <a href="https://twitter.com/hu3bruzan"><img src="/tt.webp" alt="Twitter"></a>
    </div>
    <p>© 2024 Xbox Family BR</p>
  </footer>
</body>

</html>