<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8">
  <title>Minha Página</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/noticias.css">
  <link rel="stylesheet" href="/css/mobile-sidebar.css" media="(max-width: 768px)">
</head>

<body>
  <header class="navbar">
    <nav>
      <ul>
        <li><a href="index.html">Informações</a></li>
        <li><a href="notícias.html">Notícias</a></li>
        <li><a href="bate-papo.html">Bate-papo</a></li>
        <li><a href="video-clipes.html">Vídeo-clipes</a></li>
        <li class="publish-button"><a>Publicar</a></li>
        <li class="login-list-item">
          <a href="login.html">
           <img src="/login.png" alt="Login" class="login-image">

          </a>
        </li>
        <li class="logout-button">
          <a href="#">
           <img src="/logout.png" alt="Logout" class="logout-image">

          </a>
        </li>
      </ul>
    </nav>
  </header>

  <div class="sidebar">
    <!-- Conteúdo do menu lateral -->
    <ul>
      <li><a href="index.html">Informações</a></li>
      <li><a href="notícias.html">Notícias</a></li>
      <li><a href="bate-papo.html">Bate-papo</a></li>
      <li><a href="video-clipes.html">Vídeo-clipes</a></li>
      <li class="publish-button"><a>Publicar</a></li>

    </ul>
  </div>

  <div class="toggle-btn" onclick="toggleSidebar()">
    <span></span>
    <span></span>
    <span></span>
  </div>


 <div class="container">

    <div class="article-container">

  </div>
 </div>

  

  <div class="pagination-container">
    <div class="pagination">
      <a href="#" class="prev-page">Anterior</a>
      <div class="page-numbers">
        <a href="#" class="active">1</a>
        <a href="#">2</a>
        <a href="#">3</a>
        <a href="#">4</a>
        <a href="#">5</a>
        <a href="#">6</a>
        <a href="#">7</a>
        <a href="#">8</a>
      </div>
      <a href="#" class="next-page">Próxima</a>
    </div>
  </div>

  <footer>
    <div class="footer">
      <a href="https://discord.gg/RZF7K5BX"><img src="/discord.png" alt="Botão do Discord"></a>
      <p>© 2023 Xbox Family Br, Inc.</p>
    </div>
  </footer>

  <script type="module" src="/script/noticias.js"></script>
  <script  src="/script/utils.js"></script>
</body>

</html>