<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8">
  <title>Notícias</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description"
    content="Acompanhe as últimas notícias sobre games, tecnologia e entretenimento no Xbox Family Br. Fique por dentro de artigos informativos, análises e novidades da comunidade.">
  <link rel="preload" href="/css/noticias.css" as="style">
  <link rel="preload" href="/css/searchbar.css" as="style">
  <link rel="preload" href="/css/navbar.css" as="style">
  <link rel="stylesheet" href="/css/noticias.css">
  <link rel="stylesheet" href="/css/searchbar.css">
  <link rel="stylesheet" href="/css/navbar.css">
  <link rel="stylesheet" href="/css/mobile-sidebar.css" media="(max-width: 768px)">
  <link rel="modulepreload" href="/script/noticias.js">
  <script type="module" src="/script/noticias.js"></script>
  <script src="/script/utils.js" defer></script>
  <script src="/script/articleRedirect.js" defer></script>
</head>

<body>
  <header class="navbar">
    <nav>
      <ul>
        <li>
          <div class="search-container">
            <input type="text" class="search-box" placeholder="Pesquisar">
            <div class="clear-button" onclick="clearSearch()">X</div>
          </div>
          <div class="suggestion-container">
            <ul class="suggestion-list">
            </ul>
          </div>
        </li>
        <li class="submenu-noticias">
          <a href="#" class="menu-item">Artigos</a>
          <div class="noticias-container">
            <ul class="noticias-list">
              <li class="item"><a href="notícias.html">Notícias</a></li>
              <li class="publish-button"><a href="#" id="publish-link">Publicar</a></li>
            </ul>
          </div>
        </li>
        <li class="submenu">
          <a href="#" class="menu-item">Comunidade</a>
          <div class="comunidade-container">
            <ul class="comunidade-list">
              <li class="item"><a href="index.html">Informações</a></li>
              <li class="item"><a href="bate-papo.html">Bate-papo</a></li>
              <li class="item"><a href="video-clipes.html">Vídeo-clipes</a></li>
            </ul>
          </div>
        </li>
        <li class="submenu-profile">
          <a href="#" class="menu-item">
            <img src="/profile.png" alt="Logout" class="logout-image">
          </a>
          <div class="profile-container">
            <ul class="profile-list">
              <li class="login-list-item"><a href="login.html">Login</a></li>
              <li class="logout-button"><a href="#">Sair</a></li>
              <li class="item" id="item-profile"><a href="perfil.html">Perfil</a></li>
            </ul>
          </div>
        </li>
      </ul>
    </nav>
  </header>
  <div class="sidebar">
    <ul>
      <li><a href="index.html">Informações</a></li>
      <li><a href="notícias.html">Notícias</a></li>
      <li><a href="bate-papo.html">Bate-papo</a></li>
      <li><a href="video-clipes.html">Vídeo-clipes</a></li>
      <li><a href="#">Publicar</a></li>
    </ul>
  </div>
  <div class="toggle-btn" onclick="toggleSidebar()">
    <span></span>
    <span></span>
    <span></span>
  </div>
  <div class="container-row">
    <div class="start">
    </div>
    <div class="container">

      <div class="status-trapezoid-container">
        <div class="trapezoid">
          <div class="status">
            <div class="status-item-container">
              <div class="status-item">
                <div class="red">B</div>
              </div>
              <p>Enviados: X</p>
            </div>
            <div class="status-item-container">
              <div class="status-item">
                <div class="yellow">Y</div>
              </div>
              <p>Em Análise: X</p>
            </div>
        
            <div class="status-item-container">
              <div class="status-item">
                <div class="green">A</div>
        
              </div>
              <p>Produzidos: X</p>
            </div>
        
          </div>
        </div>
      </div>


      

      <div class="article-container">
      </div>
      <div class="pagination-container" style="display: none;">
        <div class="pagination">
          <a href="#" class="prev-page">Anterior</a>
          <div class="page-numbers">
            <a href="#" class="active">1</a>
            <a href="#">2</a>
            <a href="#">3</a>
            <a href="#">4</a>
            <a href="#">5</a>
            <a href="#">6</a>
            <a href="#">7</a>
            <a href="#">8</a>
          </div>
          <a href="#" class="next-page">Próxima</a>
        </div>
      </div>
    </div>
    <div class="end">

    </div>
  </div>
  <footer>
    <div class="footer">
      <a href="https://discord.gg/RZF7K5BX"><img src="/discord.webp" alt="Botão do Discord" loading="lazy"></a>
      <p>© 2023 Xbox Family BR</p>
    </div>
  </footer>
</body>

</html>