<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8">
  <title>Perfil</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/perfil.css">
  <link rel="stylesheet" href="/css/navbar.css">
  <link rel="stylesheet" href="/css/searchbar.css">
  <link rel="stylesheet" href="/css/mobile-sidebar.css" media="(max-width: 768px)">
  <link rel="modulepreload" href="/script/auth.js">
  <link rel="modulepreload" href="/script/articleRedirect.js">
  <link rel="modulepreload" href="/script/perfil.js">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/0.5.0-beta4/html2canvas.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gl-matrix/2.8.1/gl-matrix-min.js"></script>



</head>

<body>
  <header class="navbar">
    <nav>
      <ul>
        <li>
          <input type="text" class="search-box" placeholder="Pesquisar">
          <div class="suggestion-container">
            <ul class="suggestion-list">
            </ul>
          </div>
        </li>
        <li class="submenu-noticias">
          <a href="#" class="menu-item">Artigos</a>
          <div class="noticias-container">
            <ul class="noticias-list">
              <li class="item"><a class="item" href="notícias.html">Notícias</a></li>
              <li class="publish-button"><a class="item" id="publish-link">Publicar</a></li>
            </ul>
          </div>
        </li>
        <li class="submenu">
          <a href="#" class="menu-item">Comunidade</a>
          <div class="comunidade-container">
            <ul class="comunidade-list">
              <li class="item"><a class="item" href="index.html">Informações</a></li>
              <li class="item"><a class="item" href="bate-papo.html">Bate-papo</a></li>
              <li class="item"><a class="item" href="video-clipes.html">Vídeo-clipes</a></li>
            </ul>
          </div>
        </li>
        <li class="submenu-profile">
          <a class="menu-item">
            <img src="/profile.png" alt="Logout" class="logout-image">
          </a>
          <div class="profile-container">
            <ul class="profile-list">
              <li class="login-list-item"><a href="login.html">Login</a></li>
              <li class="logout-button"><a href="#">Sair</a></li>
              <li class="item" id="item-profile"><a href="perfil.html">Perfil</a></li>
            </ul>
          </div>
        </li>
      </ul>
    </nav>
  </header>
  <div class="sidebar">
    <!-- Conteúdo do menu lateral -->
    <ul>
      <li><a href="index.html">Informações</a></li>
      <li><a href="notícias.html">Notícias</a></li>
      <li><a href="bate-papo.html">Bate-papo</a></li>
      <li><a href="video-clipes.html">Vídeo-clipes</a></li>
      <li><a>Publicar</a></li>

    </ul>
  </div>

  <div class="toggle-btn" onclick="toggleSidebar()">
    <span></span>
    <span></span>
    <span></span>
  </div>


  <div class="perfil-container">
    <div class="links">
      <button class="downloadButton">
        <img src="/baixar.webp">
      </button>
    </div>
    <div class="profile">
      <div class="autor">        
        <div class="hole-container">
          <div class="hole"> 
          </div>
        </div>
        <div class="profile-image">
          <img class="imagem-perfil" src="/profile-st.webp" alt="Imagem do Perfil" width="96" height="96">
          <label for="image-input" class="image-edit-icon">&#x1F4F7;</label>
          <input type="file" name="image" id="image-input" style="display: none;">
        </div>
        <div class="profile-description">
          <p class="gamertag"></p>
          <div class="gs-container">
            <div class="circle">
              <div class="letter">G</div>
          </div>
            <p class="gamerscore"> <span class="gamerscore-value"></span>
            </p>
          </div>
          <p class="desc-profile">Sua descrição atual do perfil vai aqui.</p>
        </div>                
      </div>
    </div>
    <textarea id="description-input" rows="4" placeholder="Atualize sua descrição"></textarea>
    <button id="update-description-button">Atualizar Descrição</button>
  </div>

  <div class="perfil-posts">
    <div class="start">
    </div>
    <div class="middle">
      <div class="container">
        <div class="article-container">
        </div>
      </div>
    </div>
    <div class="end">
    </div>
  </div>
  
  <footer>
    <div class="footer">
      <a href="https://discord.gg/RZF7K5BX"><img src="/discord.webp" alt="Botão do Discord"></a>
      <p>© 2023 Xbox Family Br, Inc.</p>
    </div>
  </footer>
  <script type="module" src="/script/perfil.js"></script>
  <script src="/script/utils.js" defer></script>
  <script src="/script/articleRedirect.js" defer></script>
</body>
</html>