<!DOCTYPE html >
<html lang="pt-BR">

<head>
  <meta charset="UTF-8">
  <title>Vídeo-clipes</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/video-clipes.css">



</head>

<body class="pagina-escura">
  <header class="navbar">
    <nav>
      <ul>
        <li><a href="index.html">Informações</a></li>
        <li><a href="notícias.html">Notícias</a></li>
        <li><a href="bate-papo.html">Bate-papo</a></li>
        <li><a href="video-clipes.html">Vídeo-clipes</a></li>
        <li class="publish-button"><a>Publicar</a></li>
        <li class="login-list-item">
          <a href="login.html">
           <img src="/login.png" alt="Login" class="login-image">

          </a>
        </li>
      </ul>
    </nav>
  </header>

  <div id="sidebar">
    <!-- Conteúdo do menu lateral -->
    <ul>
      <li><a href="index.html">Informações</a></li>
      <li><a href="notícias.html">Notícias</a></li>
      <li><a href="bate-papo.html">Bate-papo</a></li>
      <li><a href="video-clipes.html">Vídeo-clipes</a></li>
    </ul>
  </div>

  <div class="toggle-btn" onclick="toggleSidebar()">
    <span></span>
    <span></span>
    <span></span>
  </div>

  <main>
    <div id="video-clipes" class="container">
      <p>"Prepare-se para se divertir e se emocionar como nunca antes! Aqui você encontrará os clipes mais incríveis e
        hilários da comunidade, que vão te fazer rir, chorar e se apaixonar pela vida!"</p>
      <widgetbot class="wb-embed" server="901946904408113212" channel="904535541406638101"></widgetbot>
      <script src="https://cdn.jsdelivr.net/npm/@widgetbot/html-embed"></script>
    </div>
  </main>

  

  <footer>
    <div class="footer">
      <a href="https://discord.gg/RZF7K5BX"><img src="/discord.png" alt="Botão do Discord"></a>
      <p>© 2023 Xbox Family Br, Inc.</p>
    </div>
  </footer>

  <script type="module" src="/script/video-clipe.js"></script>
  <script  src="/script/utils.js"></script>
</body>

</html>