<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <title>Vídeo-clipes</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/shared-styles.css">
    <link rel="stylesheet" href="/css/navbar.css">
    <link rel="stylesheet" href="/css/mobile-sidebar.css" media="(max-width: 768px)">
    <link rel="stylesheet" href="/css/searchbar.css">
    <script src="/script/utils.js" defer></script>
    <script src="https://cdn.jsdelivr.net/npm/@widgetbot/html-embed" defer></script>
</head>

<body>
    <header class="navbar">
        <nav>
            <ul>
                <li>
                    <div class="search-container">
                        <input type="text" class="search-box" placeholder="Pesquisar" name="search-box"
                            autocomplete="off">
                        <button class="clear-button">X</button>
                    </div>
                    <ul class="suggestion-list"></ul>
                </li>
                <li class="submenu">
                    <span class="menu-item">Artigos</span>
                    <ul class="submenu-list">
                        <li class="item"><a class="nav-link" href="/noticias">Notícias</a></li>
                        <% if (userLoggedIn) { %>
                            <li class="item"><a href="/editor" class="nav-link">Publicar</a></li>
                            <% } else { %>
                                <li class="item"><a href="/login" class="nav-link">Publicar</a></li>
                                <% } %>
                    </ul>
                </li>
                <li class="submenu">
                    <span class="menu-item">Comunidade</span>
                    <ul class="submenu-list">
                        <li class="item"><a class="nav-link" href="/info">Informações</a></li>
                        <li class="item"><a class="nav-link" href="/bate-papo">Bate-papo</a></li>
                        <li class="item"><a class="nav-link" href="/video-clipes">Vídeo-clipes</a></li>
                    </ul>
                </li>
                <li class="submenu">
                    <span class="menu-item">
                        <img src="<%= userLoggedIn ? imgpath : '/profile.png' %>" alt="Logout" class="profile-image">
                    </span>
                    <ul class="submenu-list">
                        <% if (userLoggedIn) { %>
                            <li class="item"><span class="nav-link" id="btnLogout">Sair</span></li>
                            <li class="item"><a class="nav-link" href="<%= perfilLink %>">Perfil</a></li>
                            <% } else { %>
                                <li class="item"><a class="nav-link" href="/login">Login</a></li>
                                <% } %>
                    </ul>
                </li>
            </ul>
        </nav>
    </header>
    <aside class="sidebar">
        <ul>
            <li><a href="/info">Info</a></li>
            <li><a href="/noticias">Notícias</a></li>
            <li><a href="/bate-papo">Chat</a></li>
            <li><a href="/video-clipes">Vídeos</a></li>
            <% if (userLoggedIn) { %>
                <li><a href="/editor">Publicar</a></li>
                <% } else { %>
                    <li><a href="/login">Publicar</a></li>
                    <% } %>
        </ul>
    </aside>
    <div class="toggle-btn">
        <span></span>
        <span></span>
        <span></span>
    </div>
    <main>
        <p>"Prepare-se para se divertir e se emocionar como nunca antes! Aqui você encontrará os clipes mais incríveis e
            hilários da comunidade, que vão te fazer rir, chorar e se apaixonar pela vida!"</p>
        <widgetbot class="wb-embed" server="901946904408113212" channel="904535541406638101"></widgetbot>
    </main>
    <footer>
        <div class="social-row">
            <a href="https://discord.gg/RZF7K5BX"><img src="/dc.webp" alt="Botão do Discord"></a>
            <a href="https://twitter.com/hu3bruzan"><img src="/tt.webp" alt="Botão do Discord"></a>
        </div>
        <p>© 2024 Xbox Family BR</p>
    </footer>
</body>

</html>