<!DOCTYPE html >
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <title>Vídeo-clipes</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/video-clipes.css">
  <link rel="stylesheet" href="/css/navbar.css">
  <link rel="stylesheet" href="/css/mobile-sidebar.css" media="(max-width: 768px)">
  <link rel="stylesheet" href="/css/searchbar.css">
  <script  src="/script/auth.js" defer></script>
  <script  src="/script/utils.js" defer></script>
  <script src="/script/articleRedirect.js" defer></script>
  <script src="https://cdn.jsdelivr.net/npm/@widgetbot/html-embed" defer></script>
</head>
<body class="pagina-escura">
  <header class="navbar">
    <nav>
      <ul>
        <li>
          <div class="search-container">
            <input type="text" class="search-box" placeholder="Pesquisar">
            <div class="clear-button" onclick="clearSearch()">X</div>
          </div>
          <div class="suggestion-container">
          <ul class="suggestion-list">
          </ul>
          </div>
        </li>      
        <li class="submenu-noticias">
          <a class="menu-item">Artigos</a>
          <div class="noticias-container">
           <ul class="noticias-list">
             <li class="item"><a href="notícias.html">Notícias</a></li>
             <li class="publish-button"><a id="publish-link">Publicar</a></li>
           </ul>
           </div>
       </li>
        <li class="submenu">
           <a class="menu-item">Comunidade</a>
           <div class="comunidade-container">
            <ul class="comunidade-list">
              <li class="item"><a href="index.html">Informações</a></li>
              <li class="item"><a href="bate-papo.html">Bate-papo</a></li>
              <li class="item" ><a href="video-clipes.html">Vídeo-clipes</a></li>
            </ul>
            </div>
        </li>  
        <li class="submenu-profile">
          <a class="menu-item">
            <img src="/profile.png" alt="Logout" class="logout-image">
          </a>
          <div class="profile-container">
           <ul class="profile-list">
            <li class="login-list-item"><a href="login.html">Login</a></li>
            <li class="logout-button"><a href="#">Sair</a></li>
            <li class="item" id="item-profile"><a  href="perfil.html">Perfil</a></li>
           </ul>
           </div>
       </li>
      </ul>    
    </nav>
  </header>
  <div class="sidebar">
    <ul>
      <li><a href="index.html">Info</a></li>
      <li><a href="notícias.html">Notícias</a></li>
      <li><a href="bate-papo.html">Chat</a></li>
      <li><a href="video-clipes.html">Vídeos</a></li>
    </ul>
  </div>
  <div class="toggle-btn" onclick="toggleSidebar()">
    <span></span>
    <span></span>
    <span></span>
  </div>
  <main>
    <div id="video-clipes" class="container">
      <p>"Prepare-se para se divertir e se emocionar como nunca antes! Aqui você encontrará os clipes mais incríveis e
        hilários da comunidade, que vão te fazer rir, chorar e se apaixonar pela vida!"</p>
      <widgetbot class="wb-embed" server="901946904408113212" channel="904535541406638101"></widgetbot>    
    </div>
  </main>
  <footer>
    <div class="footer">
      <a href="https://discord.gg/RZF7K5BX"><img src="/discord.webp" alt="Botão do Discord"></a>
      <p>© 2023 Xbox Family Br, Inc.</p>
    </div>
  </footer>
</body>
</html>