:root {
  --primary-color: #333333;
  --font-color: #f2f2f2;
  --btn-color: #ffffff;
}

body {
  font-family: Arial, sans-serif;
  background-color: var(--primary-color);
  color: var(--font-color);
  margin: 0;
  min-height: 100dvh;
  flex-direction: column;
}

.social-row,
body,
main,
.xbox-login,
footer {
  display: flex;
}

aside {
  display: none;
}

.toggle-btn {
	display: none;
}


main {
  flex-grow: 1;
  align-items: center;
  justify-content: center;
}

.xbox-login {
  justify-content: center;
  align-items: center;
  background-color: var(--btn-color);
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.xbox-login:hover {
  filter: brightness(0.8);
}

.social-row {
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

footer {
  gap: 10px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: clamp(12px, 1.5vw, 14px);
  padding: 20px;
  font-weight: bold;
  text-align: center;
}

footer img:hover {
  filter: brightness(0.8);
}